@import "../../../assets/styles/defaults";

:host {
  display: block;
  overflow: visible;
  width: 100%;
  text-align: center;
  position: relative;
}

.menu_shadow {
  transition: opacity .5s ease;
}

.menu-outer {
  display: block;
  overflow: hidden;
  position: absolute;
  width: 100%;
  text-align: center;
  background: @COLOR-WHITE;
  z-index: 2;
  transition: all .5s ease;
  &:after {
    content: ' ';
    display: block;
    overflow: hidden;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid @COLOR-LIGHT-GRAY;
    position: absolute;
    left: 0;
    top: 193px;
    @media all and (max-width: (@WIDTH-BIG--SIZE-CONTENT - 1)) {
      top: 63px;
    }
  }
  &.expanded {
    border-bottom: 2px solid @COLOR-BLUE-GREEN;
  }
  &.collapsed + .menu_shadow {
    display: none;
    opacity: 0;
  }
  &.expanded + .menu_shadow {
    display: block;
    background: rgba(0,0,0,.6);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

}
.menu {
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 1020px;
  @media all and (max-width: (@WIDTH-BIG--SIZE-CONTENT - 1)) {
    max-width: 1060px;
  }
  margin: 0 auto;
  text-align: center;
  position: relative;
  > .menu_icon {
    display: none;
    @media all and (max-width: (@WIDTH-BIG--SIZE-CONTENT - 1)) {
      display: block;
      position: absolute;
      top: 25px;
    }
  }
  .menu_row_1 {
    display: block;
    overflow: hidden;
    padding: 45px 0 25px;
    @media all and (max-width: (@WIDTH-BIG--SIZE-CONTENT - 1)) {
      padding: 23px 0 12px;
    }
  }
  .menu_row_2 {
    display: block;
    overflow: hidden;
    padding: 25px 0 15px;
    transition: all .5s ease;
    > .menu_icon {
      display: inline-block;
      @media all and (max-width: (@WIDTH-BIG--SIZE-CONTENT - 1)) {
        display: none;
      }
    }
    @media all and (min-width: @WIDTH-SMALL--SIZE-CONTENT) and (max-width: (@WIDTH-BIG--SIZE-CONTENT - 1)) {
      .collapsed & {
        height: 0;
        padding: 0;
      }
      .expanded & {
        margin: 0 20px;
      }
    }
    @media all and (max-width: (@WIDTH-SMALL--SIZE-CONTENT - 1)) {
      .collapsed & {
        height: 0;
        padding: 0;
      }
      .expanded & {
        padding-top: 5px;
      }
    }
  }
  .menu_row_3 {
    display: block;
    overflow: hidden;
    height: 0;
    padding: 0;
    transition: all .5s ease;
    @media all and (min-width: @WIDTH-SMALL--SIZE-CONTENT) and (max-width: (@WIDTH-BIG--SIZE-CONTENT - 1)) {
      .expanded & {
        margin: 0 20px;
      }
    }
  }
  &.expanded .menu_row_3 {
    height: 32px;
    padding: 20px 0 25px;
  }
}

:host ::ng-deep {
  app-home-link {
    margin: 0 auto;
  }
  app-redactor-link,
  app-subscribe-push {
    float: right;
  }
  app-adult-only {
    position: absolute;
    right: 0;
    top: 25px;
    @media all and (max-width: (@WIDTH-BIG--SIZE-CONTENT - 1)) {
      right: 20px;
      top: 20px;
    }
  }
  app-subscribe-social-buttons {
    .label {
      @media all and (max-width: (@WIDTH-BIG--SIZE-CONTENT - 1)) {
        display: none;
      }
    }
  }
  app-hot-links {
    @media all and (max-width: (@WIDTH-BIG--SIZE-CONTENT - 1)) {
      position: absolute;
      left: 20px;
    }
    @media all and (max-width: (@WIDTH-SMALL--SIZE-CONTENT - 1)) {
      span {
        display: none;
      }
    }
  }
  app-redactor-link,
  app-subscribe-push {
    @media all and (max-width: (@WIDTH-BIG--SIZE-CONTENT - 1)) {
      position: absolute;
      right: 20px;
    }
  }
  app-menu-search-form .form-container {
    display: block;
    position: absolute;
    right: 0;
    top: 70px;
    background: @COLOR-WHITE;
    @media all and (max-width: (@WIDTH-BIG--SIZE-CONTENT - 1)) {
      top: 25px;
      right: 60px;
    }
  }
}


.menu_icon {
  overflow: visible;
  width: 12px;
  height: 12px;
  border-top: 1px solid @COLOR-BLACK;
  cursor: pointer;
  position: absolute;
  margin-left: 20px;
  box-sizing: border-box;
  &, &:before, &:after {
    transition: all .3s ease;
  }
  &:before, &:after {
    content: ' ';
    border-top: 1px solid @COLOR-BLACK;
    position: absolute;
    left: 0;
    margin-top: -1px;
  }
  &:before {
    top: 50%;
    width: 100%;
  }
  &:after {
    top: 100%;
    width: 100%;
  }
  .expanded & {
    border-top: none;
    &:before, &:after {
      width: 17px;
      left: -4px;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
      top: 6px;
    }
  }
}
