<div class="menu-outer"
     [ngClass]="{'collapsed':collapsed, 'expanded':!collapsed,'fixed':fixed}">
  <div class="menu"
       [ngClass]="{'collapsed':collapsed, 'expanded':!collapsed,'fixed':fixed}">

    <app-adult-only></app-adult-only>
    <span class="menu_icon"
          *ngIf="allow_toggle"
          (click)="toggleMenu()">
    </span>

    <div class="menu_row_1">
      <app-home-link class="old-new-menu"></app-home-link>
      <app-menu-search-form></app-menu-search-form>
    </div>

    <div class="menu_row_2">
      <app-rubric-menu (onRubricChanged)="closeMenu()"></app-rubric-menu>
      <span class="menu_icon"
            *ngIf="allow_toggle"
            (click)="toggleMenu()">
      </span>
    </div>

    <div class="menu_row_3">
      <app-hot-links></app-hot-links>
      <app-subscribe-social-buttons [title]="'Читайте нас в соцсетях:'"></app-subscribe-social-buttons>
      <!--<app-subscribe-push></app-subscribe-push>-->
      <app-redactor-link></app-redactor-link>
    </div>

  </div>
</div>

<div class="menu_shadow" *ngIf="allow_toggle" (click)="toggleMenu()"></div>
