<app-redactor-link [title]="'Редакция'"></app-redactor-link>
<a href="https://momenty.org/makemoney/" class="link">Реклама</a>
<a href="https://momenty.org/disclaimer/" class="link">Пользовательское соглашение</a>
