@import "../../../assets/styles/defaults";

/*.static-links-block*/
.link {
  &,
  :host ::ng-deep app-redactor-link & {
    margin: 0 0 15px;
    white-space: nowrap;
    display: block;
    color: @COLOR-BLACK;
    text-decoration: none;
    font-size: 15px;
    line-height: 28px;
    .important_text(15px, inherit);
  }
}
