@import "../../../../assets/styles/defaults";

.caption {
  display: block;
  overflow: hidden;
  margin: 17px 0 0;
  .caption_text(15px, @COLOR-BLACK);
}
.author {
  display: block;
  overflow: hidden;
  color: @COLOR-GRAY;
}
