@import "../../../../assets/styles/defaults";

.related-publication {
  display: block;
  overflow: hidden;
  font-weight: normal;
  width: 310px;
  clear: both;
  line-height: 21px;
  &, &&-right {
    float: right;
    margin: 0 0 30px 30px;
  }
  &&-left {
    float: left;
    margin: 0 30px 30px 0;
  }
  @media all and (max-width: (@SCREEN-SMALL-SIZE - 1)) {
    &, &&-right, &&-left {
      width: 100%;
      background: @COLOR-LIGHT-BLUE-GREEN;
      padding: 15px 15px 25px;
      box-sizing: border-box;
      float: none;
      margin: 0 0 30px;
    }
  }
  &:before {
    display: block;
    overflow: hidden;
    content: 'Материал по теме';
    .important_text(16px);
    text-align: center;
    margin: 0 0 15px;
  }
}
