<ng-container *ngFor="let column_num of columns; let column_i = index">
  <div class="column column-{{ column_i }}"
       [ngClass]="column_i === columns_count-1 ? 'column-last' : ''"
       [ngStyle]="{
          'width': column_width + 'px',
          'margin-right': column_i === columns_count-1 ? 0 : (column_margin + 'px')
       }"
       infiniteScroll
       (scrolled)="infinityScrollAction">
    <ng-container *ngFor="let item of object_list; let publication_i = index">
      <ng-container *ngIf="publication_i % columns_count === column_i">

        <app-banner-adfox
          *ngIf="columns_count > 2 && column_i === columns_count-1 && object_list && object_list.length > 0 && (publication_i+1) / columns_count === 2"
          [params]="{
              p1: 'cawrq',
              p2: 'ffej'
          }"
          [id]="'152576372370951879'"
        ></app-banner-adfox>

        <div class="cell">
          <ng-template
            ngFor
            [ngForOf]="[item]"
            [ngForTemplate]="template"></ng-template>
        </div>

      </ng-container>
    </ng-container>
    <!--<div-->
      <!--class="column column-{{ column_i }}"-->
      <!--[ngClass]="column_i === columns_count-1 ? 'column-last' : ''"-->
      <!--*ngIf="column_i < columns_count"-->
      <!--infiniteScroll-->
      <!--(scrolled)="onScrollDown()"-->
    <!--&gt;-->
    <!--</div>-->
  </div>
</ng-container>
