@import "../../../assets/styles/defaults";

.caption {
  display: block;
  overflow: hidden;
  .caption_text(15px, @COLOR-BLACK);
  padding: 15px 0 0;
  .author {
    display: block;
    color: @COLOR-GRAY;
  }
}

:host-context(.image-wrap) {
  .caption {
    text-align: left;
    .author {
      display: inline-block;
    }
    .title + .author {
      padding-left: 10px;
    }
  }
}

:host(.announce_image-caption) {
  display: block;
  overflow: hidden;
  width: 1110px;
  text-align: left;
  margin: 0 auto;
  @media all and (max-width: (@SCREEN-BIG-SIZE - 1)) {
    width: 100%;
    padding: 0 20px;
  }
}
