<div class="main_block_cell main_block_cell-{{ number }}"
     [ngClass]="{
          'main_block_cell--double':main_block.isDouble(),
          'main_block_cell--single':main_block.isSingle(),
          'main_block_cell--big':   is_big
        }">

  <app-publication-announce
    [publication]="main_block.publication_1"
    [image]="main_block.image_1"
    [image_type]="main_block.image_type_1"
    [subject]="main_block.subject_1"
    [title]="main_block.title_1"
  ></app-publication-announce>

  <app-publication-announce
    *ngIf="main_block.isDouble()"
    [publication]="main_block.publication_2"
    [image]="main_block.image_2"
    [image_type]="main_block.image_type_2"
    [subject]="main_block.subject_2"
    [title]="main_block.title_2"
  ></app-publication-announce>

</div>
