@import "../../../assets/styles/defaults";

@index-base-block-width: (@index-base-block-size * 2 + @index-base-block-margin);
@index-big-block-width: (@index-base-block-size * 4 + @index-base-block-margin * 3);

:host {
  .main_block_cell {
    display: block;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
    width: (@index-base-block-size * 2 + @index-base-block-margin * 2);
    @media all and (min-width: @SCREEN-SMALL-SIZE) and (max-width: (@SCREEN-BIG-SIZE - 1)) {
      width: ((@WIDTH-SMALL--SIZE-CONTENT + @index-base-block-margin) / 2);
    }
  }
  &:last-child {
    .main_block_cell {
      margin-right: -@index-base-block-margin;
    }
  }
  @media all and (min-width: @SCREEN-SMALL-SIZE) and (max-width: (@SCREEN-BIG-SIZE - 1)) {
    &:nth-child(2n) .main_block_cell {
      margin-right: -@index-base-block-margin;
    }
  }
  @media all and (max-width: (@SCREEN-SMALL-SIZE - 1)) {
    .main_block_cell {
      display: block;
      overflow: hidden;
      margin: 0 -@index-base-block-margin @index-base-block-margin 0;
      float: none;
      &:ng-deep app-publication-announce {
      }
    }
  }
}

:host {
  .main_block_cell--big {
    width: (@index-base-block-size * 4 + @index-base-block-margin * 4);
  }
}
