@import "../../../assets/styles/defaults";

.hot-link {
  display: inline-block;
  overflow: visible;
  &, &:hover, &:active, &:visited {
    border: none;
    span {
      :host-context(.header) & {
        .addition_text(13px, @COLOR-BLACK);
      }
      :host-context(.footer) & {
        .important_text(16px, @COLOR-WHITE);
      }
    }
  }
  text-decoration: none !important;
  line-height: 32px;
  position: relative;
}
.hot-link:before {
  content: ' ';
  display: inline-block;
  overflow: hidden;
  width: 21px;
  height: 22px;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: auto 21px;
  margin: 0 8px 0 0;
  vertical-align: text-bottom;
  .special_projects& {
    background-image: url(./assets/icons/special-projects-black.svg);
    :host-context(.footer) & {
      margin-right: 2px;
      background-image: url(./assets/icons/special-projects-white.svg);
    }
  }
  .games& {
    background-image: url(./assets/icons/games.png);
    :host-context(.footer) & {
      background-image: url(./assets/icons/games-white.png);
    }
  }
}

:host-context(.promo-line) {
  :host {
    display: block;
    float: left;
  }

  .hot-link {
    float: left;
    margin-right: 42px;
  }
}

:host-context(.menu) {
  :host {
    display: block;
    overflow: hidden;
    float: left;
  }
  .hot-link {
    float: left;
  }
}

:host-context(.footer) {
  .hot-link {
    :before {
      background-position: top;
    }
  }
}
