@import "../../../assets/styles/defaults";

:host {
  display: block;
  overflow: hidden;
  float: left;
  @media all and (max-width: (@SCREEN-SMALL-SIZE - 1)) {
    width: 100%;
  }
}

.label {
  .addition_text(13px, inherit);
  display: inline-block;
  vertical-align: middle;
  width: 145px;
  @media all and (max-width: (@SCREEN-SMALL-SIZE - 1)) {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0;
  }
}
.subscribe-email-field {
  display: inline-block;
  max-width: 100%;
}

:host-context(.subscribe_line) {
  .subscribe-email-field {
    background: @COLOR-WHITE;
    width: 380px;
    .fields_text();
  }
  .label {
    line-height: 50px;
    padding: 0;
    margin: 0 25px 0 0;
    white-space: nowrap;
    width: auto;
    @media all and (min-width: @SCREEN-SMALL-SIZE) and (max-width: (@SCREEN-BIG-SIZE - 1)) {
      display: block;
      width: 100%;
      text-align: center;
    }
    @media all and (max-width: (@SCREEN-SMALL-SIZE - 1)) {
      margin: 0;
    }

  }
}

:host-context(.footer) .subscribe-email-field {
  color: @COLOR-BLACK;
}
