<form class="subscribe-form-container">

  <label for="subscribe-email-field--{{ form_id }}"
         class="label"
         [innerHTML]="title"></label>
  <input type="email"
         class="subscribe-email-field"
         placeholder="Ваш e-mail"
         name="subscribe-email-field"
         id="subscribe-email-field--{{ form_id }}" />
</form>
