@import "../../../assets/styles/defaults";

.scroll-top-button {
  display: block;
  overflow: hidden;
  position: fixed;
  background: red;
  width: 80px;
  left: 0;
  top: 0;
  bottom: 0;
  background: fade(@COLOR-BLACK, 0);
  transition: all .5s ease;
  opacity: 0;
  z-index: 0;

  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */

  @media all and (max-width: (@SCREEN-BIG-SIZE - 1)) {
    display: none;
  }

  &.visible {
    opacity: 1;
    cursor: pointer;
    z-index: 5;
  }
  &:hover {
    background: fade(@COLOR-BLACK, 4%);
  }

  &:before {
    content: ' ';
    width: 20px;
    height: 10px;
    background: url(/assets/images/icons/arrow-top.svg) center center no-repeat;
    background-size: contain;
    position: fixed;
    bottom: 115px;
    left: 30px;
    opacity: 0;
    transition: all .5s ease;
  }
  &.visible:before {
    opacity: 1;
  }
}
