@import "../../../../assets/styles/defaults";

:host {
  display: block;
  overflow: visible;
  position: relative;
  text-align: center;
  @media all and (max-width: (@SCREEN-SMALL-SIZE - 1)) {
    width: 100%;
    margin-left: -20px;
  }
}

.image {
  display: block;
  overflow: hidden;
  width: 100%;
  height: auto;
  @media all and (min-width: @SCREEN-SMALL-SIZE) and (max-width: (@SCREEN-BIG-SIZE - 1)) {
    width: 100%;
    height: auto;
  }
}

.caption {
  padding: 0 90px;
  margin: 24px 0 0;
  .author {
    display: inline;
  }
}
