<div class="publication"
     *ngIf="publication && publication.primary_rubric"
     [ngClass]="{'publication-circle':image_type=='circle'}">

  <span class="rubric"
        *ngIf="show_categories">{{ subject }}</span>
  <span class="datetime">
    <span class="date">{{ publication.publish_at | date:'d MMMM yyyy' }}</span>
    <span class="time">{{ publication.publish_at | date:'HH:mm' }}</span>
  </span>

  <ng-container
    *ngIf="publication.isOuterLink()">
    <a [href]="publication.spec_link"
       [style.backgroundImage]="'url('+(image ? image.url : this.publication.announce_image.url)+')'"
       target="_blank"
       class="announce_image link" >
      <img src="{{ image ? image.url : this.publication.announce_image.url }}" class="image">
    </a>
    <a [href]="publication.spec_link"
       target="_blank"
       class="title link" [innerHtml]="title">
    </a>
  </ng-container>
  <ng-container
    *ngIf="!publication.isOuterLink()">
    <a [routerLink]="['/', publication.primary_rubric.slug, publication.id]"
       [style.backgroundImage]="'url('+(image ? image.url : this.publication.announce_image.url)+')'"
       class="announce_image link" >
      <img src="{{ image ? image.url : this.publication.announce_image.url }}" class="image">
    </a>
    <a [routerLink]="['/', publication.primary_rubric.slug, publication.id]"
       class="title link" [innerHtml]="title">
    </a>
  </ng-container>
</div>
