@import "../../../assets/styles/defaults";

@index-base-block-width: (@index-base-block-size * 2 + @index-base-block-margin);
@index-big-block-width: (@index-base-block-size * 4 + @index-base-block-margin * 3);

.publication {
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  color: @COLOR-BLACK;
}
.announce_image {
  display: block;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0 15px;
  transition: all .2s ease;
}
.publication-circle .announce_image {
  border-radius: 50%;
}
.publication-circle {
  text-align: center;
}

.announce_image {
  display: block;
  width: 100%;
  .image {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0;
  }
}

.datetime {
  display: none;
}

.link {
  border: none;
}

.title.link,
.title.link:visited,
.title.link:hover,
.title.link:active {
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all .2s ease;
}
.title.link:hover,
.title.link:active {
  text-decoration: underline;
}

:host-context(.container-IMPORTANT) {
  @important-block-image-size: 145px;
  @important-block-margin: 30px;

  @important-block-width: 565px;
  @important-block-height: @important-block-image-size;
}
:host-context(.container-IMPORTANT) .announce_image {
  width: @important-block-image-size;
  height: @important-block-image-size;
}
:host-context(.container-IMPORTANT) .rubric {
  display: none;
}
:host-context(.container-IMPORTANT) .title {
  position: absolute;
  left: (@important-block-image-size + @important-block-margin);
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
}

:host-context(.main_block_cell) {

  .publication {
    float: left;
    margin: 0 @index-base-block-margin 0 0;
    @media all and (min-width: @SCREEN-SMALL-SIZE) and (max-width: (@SCREEN-BIG-SIZE - 1)) {
      margin-bottom: 30px;
    }
    &:hover {
      color: @COLOR-BLUE-GREEN;
    }
  }

}
:host-context(.main_block_cell--double) {

  .publication {
    width: @index-base-block-size;
    @media all and (min-width: @SCREEN-SMALL-SIZE) and (max-width: (@SCREEN-BIG-SIZE - 1)) {
      width: ((@WIDTH-SMALL--SIZE-CONTENT - 3 * @index-base-block-margin) / 4);
    }
  }

  .title {
    .addition_text(13px, inherit);
  }
  .announce_image {
    height: @index-base-block-size;
  }

}

:host-context(.main_block_cell--single) {

  .publication {
    width: (@index-base-block-size * 2 + @index-base-block-margin);
    @media all and (min-width: @SCREEN-SMALL-SIZE) and (max-width: (@SCREEN-BIG-SIZE - 1)) {
      width: ((@WIDTH-SMALL--SIZE-CONTENT - @index-base-block-margin) / 2);
    }
  }

  .title {
    .important_text(20px, inherit);
  }
  .announce_image {
    height: 175px;
  }
  .publication-circle .announce_image {
    height: (@index-base-block-size * 2 + @index-base-block-margin);
  }

}

:host-context(.main-col) {
  .announce_image {
    margin: 0;
  }
  .title {
    text-align: left;
  }
}
:host(.main-item-center-related) {
  .publication {
    width: 100%;
  }
  .announce_image {
    width: 240px;
    margin: 0 1em 0 0;
    float: left;
  }
}
:host(.main-item:hover) {
  .title.link,
  .title.link:active,
  .title.link:visited,
  .title.link:hover {
    color: @COLOR-BLUE-GREEN;
    text-decoration: none;
  }
}

:host(.search-result-item),
:host(.main-item),
:host(.rubric_publication) {
  display: block;
  overflow: hidden;
  color: @COLOR-BLACK;
  border: 1px solid @COLOR-LIGHT-GRAY;
  border-bottom-width: 5px;
  margin: 0 0 20px;
  &:hover {
    border-color: @COLOR-LIGHT-BLUE-GREEN;
  }
  .rubric {
    display: none;
  }
  .title {
    .caption_text(16px, inherit, normal);
  }
  .title {
    font-weight: normal;
    padding: 10px 15px 15px;
    .caption_text(16px, inherit, normal);
    line-height: 20px;
  }
  .announce_image {
    margin: 0;
  }
}
:host(.main-item-CENTER) {
  .title {
    font-weight: normal;
    padding: 20px;
    .caption_text(22px, inherit, normal);
    line-height: 26px;
  }
}

:host(.right-col-item) {
  display: block;
  overflow: hidden;
  width: 240px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 0 auto;
  .publication {
    width: 100%;
  }
  .announce_image {
    height: auto;
    margin: 0;
  }
  .title {
    padding: 10px;
    .caption_text(14px, inherit, normal);
  }
}

@media all and (max-width: (@SCREEN-BIG-SIZE - 1)) {

  :host(.main-item.main-item-center-related) {
    padding: 20px 0;
    margin: 0 15px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-width: 1px;
    &:last-child {
      border-bottom: none;
    }
    .announce_image {
      width: 115px;
      height: 75px;
      margin: 0 10px 0 0;
    }
    .title {
      display: block;
      overflow: hidden;
      .caption_text(15px, inherit, normal);
      line-height: 18px;
      padding: 0;
    }
  }

  :host(.main-item-CENTER) {
    border: none;
    margin: 0;
    .announce_image {
      height: auto;
    }
    .title {
      margin: 15px 15px 0;
      padding: 0 0 25px;
      .caption_text(17px, inherit, normal);
      line-height: 20px;
      text-align: center;
      border-bottom: 1px solid @COLOR-LIGHT-GRAY;
    }
  }

}

:host-context(app-publication-promo-block-under-menu) {

  .publication {
    width: (@index-base-block-size * 4 + @index-base-block-margin * 3);
    @media all and (min-width: @SCREEN-SMALL-SIZE) and (max-width: (@SCREEN-BIG-SIZE - 1)) {
      margin: 0 0 30px;
    }
    @media all and (max-width: (@SCREEN-SMALL-SIZE - 1)) {
      width: (@index-base-block-size * 2 + @index-base-block-margin);
      margin: 0 0 @index-base-block-margin;
    }
  }
  .announce_image {
    height: 340px;
    @media all and (max-width: (@SCREEN-SMALL-SIZE - 1)) {
      height: 165px;
    }
  }
  .title.link {
    .important_text(30px);
    text-align: center;
    display: block;
  }
  .rubric {
    text-align: center;
    display: block;
  }

}

:host-context(app-publication-popular-list) {
  .publication {
    text-align: center;
  }
  .announce_image {
    height: 175px;
  }
  .title {
    display: block;
    .addition_text(13px);
  }
}

:host-context(.wrap_promo_line) {
  .announce_image {
    display: none;
  }
  .rubric {
    float: left;
    margin: 0;
    line-height: normal;
  }
  .datetime {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    float: right;
    .important_text(inherit);
  }
  .datetime .date {
    display: none;
  }
  .title {
    padding: 0 20px;
    .important_text(17px);
  }
  .rubric,
  .title,
  .datetime {
    line-height: 32px;
  }
}

:host-context(ngx-slick) {
  .title,
  .rubric {
    text-align: left;
    display: block;
  }
}

:host-context(app-publication-promo-block-menu-important-slider) {

  .publication {
    text-align: left;
  }

  .title {
    display: block;
    overflow: hidden;
    width: 305px;
    .section_text(13px, @COLOR-BLACK);
    line-height: 1.38;
    text-transform: none;
  }
  .announce_image {
    display: none;
  }
  .rubric {
    position: absolute;
    left: 0;
    top: 0;
    color: @COLOR-GRAY;
    line-height: normal;
  }

}

:host(.dynamic-related-publication) {

  .announce_image {
    margin-bottom: 10px;
    @media all and (max-width: (@SCREEN-BIG-SIZE - 1)) {
      display: none;
    }
  }

  .title {
    .addition_text(15px, @COLOR-DARK-BLUE-GREEN);
    text-align: center;
  }

}

:host(.popular-publication) {
  .publication {
    padding-top: 5px;
  }
  .title {
    text-align: center;
  }
  .publication:hover {
    overflow: visible;
    .announce_image {
      transform: translateY(-5px);
      box-shadow: 0px 7px 14px 0px fade(@COLOR-BLACK, 20%);
    }
    .title {
      text-align: center;
      &, &:hover, &:visited, &:active {
        color: @COLOR-LINK;
      }
    }
  }
}

//:host(.search-result-item) {
//  .publication {
//    width: 100%;
//    box-sizing: border-box;
//    border-color: fade(@COLOR-BLACK, 20%);
//    border-style: solid;
//    border-top-width: 1px;
//    border-right-width: 1px;
//    border-left-width: 1px;
//    border-bottom-width: 5px;
//  }
//  .title {
//    .caption_text(16px, @COLOR-BLACK, normal);
//    padding: 15px;
//  }
//}
