@import "../../../assets/styles/defaults";

.container {
  position: relative;
  overflow: visible;
}
.leftRs,
.rightRs {
  display: block;
  overflow: hidden;
  width: 65px;
  height: 18px;
  background: none;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  border: none;
  font-size: 35px;
  line-height: 15px;
  outline-style: none;
  cursor: pointer;
}
.leftRs:hover,
.rightRs:hover,
.leftRs:active,
.rightRs:active {
  outline-style: none;
}
.rightRs {
  right: 0;
  margin-right: (-65px - 55px);
}
.leftRs {
  left: 0;
  margin-left: (-65px - 55px);
}
