<div class="menu_row_1">

  <div class="menu_left_part">

    <div class="menu_col_1">
      <app-home-link></app-home-link>
      <app-copyright></app-copyright>
    </div>

    <div class="menu_col_2">
      <app-static-links></app-static-links>
    </div>

    <div class="menu_col_3">
      <app-rubric-menu [show_hot_links]="true"></app-rubric-menu>
    </div>

  </div>

  <div class="menu_right_part">
    <!--<app-main-section-links></app-main-section-links>-->
  </div>

</div>

<div class="menu_row_2">

  <div class="menu_left_part">
    <!--<app-subscribe-email [title]="'Подписывайтесь на нашу рассылку'"></app-subscribe-email>-->
    <app-subscribe-social-buttons [title]="''"></app-subscribe-social-buttons>
    <app-static-links></app-static-links>
    <app-copyright></app-copyright>
    <app-adult-only></app-adult-only>
  </div>

  <div class="menu_right_part">
    <app-adult-only></app-adult-only>
    <!--<app-subscribe-push></app-subscribe-push>-->
    <!--<app-menu-search-form></app-menu-search-form>-->
  </div>

</div>
