@import "../../../assets/styles/defaults";

@menu-desktop-left-col-width: 880px;
@menu-desktop-col-margin: 40px;
@menu-border-color: fade(@COLOR-WHITE, 20%);

:host {
  display: block;
  overflow: hidden;
  width: @WIDTH-BIG--SIZE-CONTENT;
  margin: 0 auto;
  text-align: left;
  color: @COLOR-WHITE;
  position: relative;
  * {
    transition: all .5s ease;
  }
  &:before {
    content: ' ';
    display: block;
    width: 1px;
    overflow: hidden;
    position: absolute;
    left: (@menu-desktop-left-col-width + @menu-desktop-col-margin);
    top: 0;
    bottom: 0;
    background: @menu-border-color;
    color: @COLOR-BLUE-GREEN;
    border-style: solid;
    border-width: 60px @menu-desktop-col-margin 45px;
  }
}

.menu_row_1,
.menu_row_2 {
  display: block;
  overflow: hidden;
  box-sizing: border-box;
}
.menu_row_1 {
  border-bottom: 1px solid @menu-border-color;
  .menu_left_part,
  .menu_right_part {
    padding: 80px 0 40px;
    min-height: 275px;
  }
  .menu_right_part {
    padding-left: 60px;
  }
}
.menu_row_2 {
  .menu_left_part,
  .menu_right_part {
    padding: 45px 0 60px;
  }
  .menu_right_part {
    padding-left: 60px;
  }
}

.menu_right_part,
.menu_left_part {
  display: block;
  overflow: hidden;
  float: left;
}
.menu_left_part {
  margin: 0 @menu-desktop-col-margin 0 0;
  width: @menu-desktop-left-col-width;
}
.menu_right_part {
  margin: 0 0 0 @menu-desktop-col-margin;
  box-sizing: border-box;
  width: 290px;
}

.menu_col_1,
.menu_col_2,
.menu_col_3 {
  display: block;
  overflow: hidden;
  float: left;
}
.menu_col_2 {
  margin-left: 70px;
}
.menu_col_3 {
  margin-left: 70px;
}



:host ::ng-deep {
  app-home-link {
    display: block;
    overflow: hidden;
  }
  app-copyright {
    width: 240px;
    margin: 30px 0 0;
  }
  app-static-links {
    display: block;
    overflow: hidden;
  }
  app-rubric-menu app-hot-links {
    margin: -8px 0 0 -23px;
  }
}


.menu_row_2 {
  .menu_left_part {
    ::ng-deep {
      app-subscribe-social-buttons {
        float: right;
        margin: 5px 60px 0 0;
      }
      app-static-links {
        display: none;
      }
      app-copyright {
        display: none;
      }
      app-adult-only {
        display: none;
      }
    }
  }
  .menu_right_part {
    ::ng-deep {
      app-adult-only {
        float: right;
      }
      app-subscribe-push {
        margin-right: 30px;
      }
    }
  }
}

@media all and (min-width: (@SCREEN-SMALL-SIZE)) and (max-width: (@SCREEN-BIG-SIZE - 1)) {

  :host {
    width: @WIDTH-SMALL--SIZE-CONTENT;

    .menu_row_1 {

      .menu_left_part,
      .menu_right_part {
        border-bottom: 1px solid;
      }
      .menu_left_part {
        width: 210px;
        margin: 0;
        border: none;
        ::ng-deep {
          app-home-link {
            margin-bottom: 55px;
            .logo {
              width: 160px;
              height: 35px;
            }
          }
          app-copyright {
            width: 100%;
            float: left;
            margin: 0;
          }
        }
        .menu_col_2 {
          ::ng-deep {
            app-static-links {
              display: none;
            }
          }
        }
        .menu_col_3 {
          position: absolute;
          left: 250px;
          right: 0;
          margin: 90px 0 0;
          ::ng-deep {
            app-rubric-menu {
              overflow: visible;
              display: inline;
              .menu-item {
                display: block;
                width: 33%;
                float: left;
              }
              ::ng-deep app-hot-links {
                .hot-link {
                  line-height: normal;
                  &:before {
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0 0 0 -22px;
                  }
                }

              }
            }
            app-hot-links {
              display: inline;
              overflow: visible;
              .hot-link {
                display: block;
                width: auto;
                float: left;
              }
            }
          }
        }
      }
      .menu_right_part {
        width: 390px;
        margin: 0;
        padding-left: 30px;
        border-bottom: none;
        ::ng-deep {
          app-main-section-links {
            float: right;
            margin-bottom: 40px;
          }
        }
      }

    }

    .menu_row_2 {

      .menu_left_part {
        width: 100%;
        padding-right: 0;

        & ::ng-deep {
          app-subscribe-email {
            display: none;
          }
          app-subscribe-social-buttons {
            display: block;
            float: left;
            .label {
              display: none;
            }
          }
          app-static-links {
            display: block;
            .link {
              display: block;
              width: 30%;
              white-space: normal;
              float: left;
            }
          }
        }

      }

      .menu_right_part {

        // TODO: Сделать третью строку меню
        display: none;

      }

    }

  }
}

// TODO: Сделать подвал для мобилки
@media all and (max-width: (@SCREEN-SMALL-SIZE - 1)){
  :host {
    display: none;
  }
}
