<ngx-slick class="gallery carousel"
           *ngIf="publications.length > 1"
           [config]="{
            'centerMode':   true,
            'dots':         false,
            'arrows':       true,
            'variableWidth':false,
            'centerPadding':0,
            'draggable':    false
           }"
           drag-scroll-y-disabled="true"
           scrollbar-hidden="true"
           dragScroll
           #gallery>
  <div ngxSlickItem class="slide"
       *ngFor="let publication of publications; let i = index;">
    <app-publication-announce [publication]="publication" [subject]="title"></app-publication-announce>
    <span class="counter"
          *ngIf="publications.length > 1">
      <span class="current_number">{{ i+1 }}</span>/<span class="total_number">{{ publications.length }}</span>
    </span>
  </div>
</ngx-slick>
