@import "../../../assets/styles/defaults";

:host {
  display: block;
  overflow: visible;
  position: relative;
  margin: 0 auto;
  width: 400px;

  & ::ng-deep ngx-slick {

    .slick-list,
    .slick-list .slide {
      width: @important-block-width;
    }
    .slick-list .slide {
      position: relative;
      padding: 0 75px;
      min-height: 36px;
    }

    .counter {
      position: absolute;
      top: 18px;
      left: 65px;
      transform: translateX(-100%);
      &, .current_number {
        .section_text(11px, @COLOR-GRAY);
        line-height: normal;
      }
    }
    .announce_image {
      display: none;
    }
    .title {
      .section_text(13px, @COLOR-BLACK);
    }

    .slick-arrow {
      position: absolute;
      bottom: 0;
      top: auto;
      z-index: 3;
      transform: none;
      &:before {
        color: @COLOR-BLACK;
        opacity: 1;
        width: 30px;
      }
    }

    .slick-prev {
      left: 0;
      &:before {
        content: '⟵';
      }
    }

    .slick-next {
      right: 0;
      &:before {
        content: '⟶';
      }
    }
  }

}

.item {
  height: @important-block-height;
  width: 100%;
  float: left;
}
