<div class="event">
  <img src="{{ event.announce_image.url }}" class="image">
  <div class="meta">
    <span class="time">
      <app-date-calendar [date]="event.date_start" [show_time]="true"></app-date-calendar>
      <ng-container *ngIf="event.date_end">
        —
        <app-date-calendar
          *ngIf="event.date_start.getDay() != event.date_end.getDay() && event.days_between() >= 1"
          [date]="event.date_end"
          [show_time]="true"></app-date-calendar>
        <app-time
          [date]="event.date_end"
          *ngIf="event.date_start.getDay() == event.date_end.getDay() || event.days_between() < 1"></app-time>
      </ng-container>
    </span>
    <ng-container *ngIf="event.places && event.places.length > 0">
        <span class="place" *ngFor="let place of event.places">
          <a href="#" class="place_title place_link" [innerHtml]="place.title"></a>
          <span class="place_address" [innerHtml]="place.address"></span>
        </span>
    </ng-container>
    <ng-container *ngIf="!(event.places && event.places.length > 0) && event.address">
        <span class="place">
          <span class="place_address" [innerHtml]="event.address"></span>
        </span>
    </ng-container>
  </div>
  <div class="content">
    <h2 class="title" [innerHtml]="event.title"></h2>
    <div class="description" [innerHtml]="event.description"></div>
    <div class="addition_data" *ngIf="event.age_limit || event.type">
      <div class="age_limit" *ngIf="event.age_limit">{{ event.age_limit }}+</div>
      <div class="type" *ngIf="event.type" [innerHtml]="event.type.title"></div>
    </div>
    <dl class="special_conditions">
      <ng-container *ngIf="event.price_min || event.price_max">
        <dt>Стоимость</dt>
        <dd><app-price-range [price_min]="event.price_min" [price_max]="event.price_max"></app-price-range></dd>
      </ng-container>
      <ng-container *ngIf="event.phone && event.phone.length">
        <dt>Телефон</dt>
        <dd>{{ event.phone }}</dd>
      </ng-container>
      <ng-container *ngIf="event.link">
        <dt>Страница мероприятия</dt>
        <dd><a href="{{ event.link }}" target="_blank">{{ event.link }}</a></dd>
      </ng-container>
      <ng-container *ngFor="let condition of event.special_conditions">
        <dt>{{ condition.title }}</dt>
        <dd>{{ condition.data }}</dd>
      </ng-container>
    </dl>
  </div>
</div>
