@import "../../../assets/styles/defaults";

@event-image-width-BIG: 320px;
@event-image-margin-BIG: 35px;

@event-image-width-SMALL: 245px;
@event-image-margin-SMALL: 30px;

.event {
  display: block;
  overflow: hidden;
  clear: both;
  padding: 0 0 60px;
  margin: 0 0 55px;
  border-bottom: 1px solid @COLOR-LIGHT-GRAY;
  :host:last-child & {
    margin: 0;
  }
  :host-context(.event_list) & {
    border: 1px solid @COLOR-LIGHT-GRAY;
    margin: 0 0 1em;
    break-inside: avoid-column;
  }
  .date.sticky + & {
    margin-top: 60px;
  }
}
.image, .meta {
  display: block;
  overflow: hidden;
  float: left;
  clear: left;
  width: @event-image-width-BIG;
  margin: 0 @event-image-margin-BIG 20px 0;
  @media all and (min-width: @SCREEN-SMALL-SIZE) and (max-width: (@SCREEN-BIG-SIZE - 1)) {
    width: @event-image-width-SMALL;
    margin-right: @event-image-margin-SMALL;
  }
}
.meta {
  .time, .place, .place_title, .place_address {
    .addition_text(14px, @COLOR-BLACK);
    &:after {
      content: ', ';
    }
    &:last-child:after {
      content: '';
    }
  }
  .place_link {
    border-bottom: 1px solid fade(@COLOR-DARK-GRAY, 30%);
    &, &:hover, &:active, &:visited {
      color: inherit;
      text-decoration: none;
    }
  }
  .place_title {
    &:before {
      content: '«';
    }
    &:after {
      content: '»';
    }
  }
}

.content {
  display: block;
  overflow: hidden;
  @media all and (max-width: (@SCREEN-SMALL-SIZE - 1)) {
    width: 100%;
  }
  .title {
    .important_text(26px);
    text-transform: none;
    display: block;
    margin: 0 0 15px;
  }
  .description {
    display: block;
    overflow: hidden;
    margin: 0 0 15px;
    width: 100%;
  }
  .addition_data {
    display: block;
    overflow: hidden;
    width: 125px;
    clear: both;
    float: right;
    padding: 0 0 0 25px;
    margin: 0 0 0 25px;
    border-left: 3px solid @COLOR-LIGHT-GRAY;
    .age_limit {
      display: block;
      overflow: hidden;
      float: right;
      .important_text(inherit);
    }
    @media all and (min-width: @SCREEN-SMALL-SIZE) and (max-width: (@SCREEN-BIG-SIZE - 1)) {
      float: none;
      width: 100%;
      border-left: none;
      border-top: 3px solid @COLOR-LIGHT-GRAY;
      border-bottom: 3px solid @COLOR-LIGHT-GRAY;
      padding: 10px 0;
      margin: 0 0 20px;
    }
    @media all and (max-width: (@SCREEN-SMALL-SIZE - 1)) {
      width: 100%;
      padding: 0 0 15px;
      margin: 0 0 15px;
      border-bottom: 3px solid @COLOR-LIGHT-GRAY;
    }
  }
  .special_conditions {
    display: block;
    overflow: hidden;
    .addition_text(14px, @COLOR-BLACK);
    line-height: normal;
    @media all and (max-width: (@SCREEN-SMALL-SIZE - 1)) {
      width: 100%;
      clear: both;
    }
    dt, dd {
      display: block;
      overflow: hidden;
      float: left;
      margin: 0 0 15px;
    }
    dt {
      clear: both;
      font-weight: bold;
      padding: 0 15px 0 0;
      width: 130px;
      &:after {
        content: ':';
      }
      @media all and (max-width: (@SCREEN-BIG-SIZE - 1)) {
        margin-bottom: 5px;
      }
      @media all and (max-width: (@SCREEN-SMALL-SIZE - 1)) {
        width: 100%;
      }
    }
    dd {
      @media all and (max-width: (@SCREEN-BIG-SIZE - 1)) {
        display: block;
        width: 100%;
        clear: both;
      }
    }
  }
}

.place {
  .place_title, .place_address {

  }
}
