@import "../../../assets/styles/defaults";

.label {
  display: inline-block;
  .caption_text(13px, @COLOR-BLACK, normal);
  line-height: 28px;
  margin: 0 10px 0 0;
}

:host ::ng-deep share-buttons {
  display: inline-block;
}

@media all and (max-width: 460px) {
  .label {
    display: block;
  }
  :host ::ng-deep share-buttons {
    margin-left: -0.3125em;
  }
}
