<div class="home-block">

  <div class="main-col main-col-left"
       infiniteScroll
       (scrolled)="onScrollDown()"
       (scrolledUp)="onScrollUp()">
    <ng-container *ngFor="let main_item of object_list | filterByType : ['LEFT']; let i = index;">
      <div class="page-num-{{ main_item['page_num'] }}">
        <app-publication-announce
          class="main-item"
          *ngIf="main_item.position == 'LEFT'"
          [title]="main_item.title"
          [image]="main_item.image"
          [subject]="main_item.subject"
          [publication]="main_item.publication"
        ></app-publication-announce>
      </div>
      <app-banner-adfox
        *ngIf="i === 3"
        [params]="{
                p1: 'cawrq',
                p2: 'ffej'
            }"
      ></app-banner-adfox>
    </ng-container>
  </div>

  <div class="main-col main-col-right"
       infiniteScroll
       (scrolled)="onScrollDown()"
       (scrolledUp)="onScrollUp()">
    <ng-container *ngFor="let main_item of object_list | filterByType : ['RIGHT']; let i = index;">
      <div class="page-num-{{ main_item['page_num'] }}">
        <app-publication-announce
          class="main-item main-item-{{ main_item.position }}"
          *ngIf="main_item.position === 'RIGHT'"
          [title]="main_item.title"
          [image]="main_item.image"
          [subject]="main_item.subject"
          [publication]="main_item.publication"
        ></app-publication-announce>
      </div>
      <app-banner-adfox
        *ngIf="i === 0 || i === 5"
        [params]="{
              p1: 'cawrq',
              p2: 'ffej'
          }"
      ></app-banner-adfox>
    </ng-container>
  </div>

  <div class="main-col main-col-center"
       infiniteScroll
       (scrolled)="onScrollDown()"
       (scrolledUp)="onScrollUp()">

    <ng-container *ngFor="let main_item of object_list | filterByType : ['CENTER']; let i = index;">

      <div class="related-publications-container" *ngIf="main_item.position == 'CENTER'">
        <ng-container *ngFor="let other_item of object_list | filterByType: ['LEFT', 'RIGHT'] : i : 3; let other_item_i = index;">
          <app-publication-announce
            class="main-item main-item-center-related main-item-{{ other_item.position }}"
            [title]="other_item.title"
            [image]="other_item.image"
            [subject]="other_item.subject"
            [publication]="other_item.publication"
          ></app-publication-announce>
        </ng-container>
      </div>

      <div class="page-num-{{ main_item['page_num'] }}">
        <app-publication-announce
          class="main-item main-item-{{ main_item.position }}"
          [title]="main_item.title"
          [image]="main_item.image"
          [subject]="main_item.subject"
          [publication]="main_item.publication"
        ></app-publication-announce>
      </div>

    </ng-container>

  </div>

  <div class="controls">
    <button
      class="more_button"
      [ngClass]="{'loading':loading}"
      (click)="nextPage();"
      [style.display]="end ? 'none' : 'block'"
    >Еще</button>
  </div>

</div>
