@import "../../../assets/styles/defaults";

@main-left-col-width: 240px;
@main-center-col_width: 490px;
@main-col-margin: 30px;

.home-block {
  display: block;
  overflow: hidden;
  width: (@main-center-col_width + 2 * @main-col-margin + 2 * @main-left-col-width);
  margin: 0 auto;
  padding: 35px 0 30px;
  @media all and (max-width: (@SCREEN-BIG-SIZE - 1)) {
    width: 100%;
  }
}

.main-col {
  display: block;
  overflow: hidden;
  box-sizing: border-box;
}

.main-col-left {
  float: left;
  margin: 0 @main-col-margin 0 0;
  .main-item-RIGHT,
  .main-item-CENTER {
    display: none;
  }
}
.main-col-right {
  float: right;
  margin: 0 0 0 @main-col-margin;
  .main-item-LEFT,
  .main-item-CENTER {
    display: none;
  }
}

.main-col-left,
.main-col-right {
  width: @main-left-col-width;
}
.main-col-center {
  width: @main-center-col_width;
  .main-item-LEFT,
  .main-item-RIGHT {
    display: none;
  }
}

:host ::ng-deep app-publication-announce,
:host ::ng-deep app-banner,
:host ::ng-deep app-banner-telegram-subscribe,
:host ::ng-deep app-banner-adfox {
  display: block;
  overflow: hidden;
  margin: 0 0 30px;
}

.controls {
  display: block;
  padding: 115px 0 0;
}

@media all and (max-width: (@SCREEN-BIG-SIZE - 1)) {
  .main-col-left,
  .main-col-right {
    display: none;
  }
  .main-col-center {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    .main-item-LEFT,
    .main-item-RIGHT {
      display: none;
      &.main-item-center-related {
        display: block;
      }
    }
  }
  .related-publications-container {
    display: block;
    overflow: hidden;
    margin: 0 0 15px;
  }
}
