@import "../../../assets/styles/defaults";

@popular_width: 920px;
@col_count: 3;

:host {
  display: block;
  overflow: hidden;
  width: @popular_width;
  margin: 0 auto 50px;
  padding: 0 0 60px;
  @media all and (max-width: (@SCREEN-SMALL-SIZE - 1)) {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px 60px;
  }
}

h2 {
  .important_text(20px);
  text-transform: none;
  letter-spacing: 0.5px;
}

.list {
  display: block;
  overflow: hidden;
}

.item {
  width: 100%;
  margin: 0 0 30px;
  padding: 0 0 3px;
  float: left;
  display: block;
  overflow: hidden;
  @media all and (max-width: (@SCREEN-SMALL-SIZE - 1)) {
    width: 100%;
    margin-right: 0;
    clear: both;
  }
}
.item:nth-child(@{col_count}n) {
  margin-right: 0;
}
.item:nth-child(@{col_count}n+1) {
  clear: both;
}
