<ng-container *ngIf="object_list.length > 0">
  <h2>Главные новости</h2>
  <ul class="list">
    <li *ngFor="let publication of object_list; let i = index;"
        class="item item-{{ i % page_size }}">
      <app-publication-announce
        class="right-col-item"
        *ngIf="publication"
        [publication]="publication"
        [show_categories]="false"
      ></app-publication-announce>
    </li>
  </ul>
</ng-container>
