@import "../../../assets/styles/defaults";

@popular-list-item-width: 280px;
@popular-list-item-margin: 40px;

:host {
  display: block;
  overflow: hidden;
  width: 100%;
  margin: 0 auto 40px;
  @media all and (min-width: (@popular-list-item-width * 3 + @popular-list-item-margin * 3)) {
    width: (@popular-list-item-width * 3 + @popular-list-item-margin * 3);
  }
  @media all and (min-width: (@popular-list-item-width * 2 + @popular-list-item-margin * 2))
      and (max-width: (@popular-list-item-width * 3 + @popular-list-item-margin * 3 - 1)) {
    width: (@popular-list-item-width * 2 + @popular-list-item-margin * 2);
  }
}

.slide {
  display: block;
  width: 280px;
  margin: 0 20px 40px;
  float: left;
  @media all and (min-width: (@popular-list-item-width * 3 + @popular-list-item-margin * 3)) {
    &:nth-child(4) {
      clear: both;
    }
  }
  @media all and (min-width: (@popular-list-item-width * 2 + @popular-list-item-margin * 2))
  and (max-width: (@popular-list-item-width * 3 + @popular-list-item-margin * 3 - 1)) {
    &:nth-child(3),
    &:nth-child(5) {
      clear: both;
    }
  }
}
@media all and (max-width: (@popular-list-item-width * 2 + @popular-list-item-margin * 2 - 1)) {
  :host ::ng-deep ngx-slick {
    .slide {
      opacity: .2;
      width: 280px;
    }
    .slide.slick-current {
      opacity: 1;
    }
    .slick-dots li button:before {
      font-size: 10px;
    }
    .slick-dots li.slick-active button:before {
      color: @COLOR-BLUE-GREEN;
    }
  }
}

h2 {
  margin-bottom: 45px;
  .important_text(22px);
  letter-spacing: 10px;
}
