<h2 *ngIf="show_title">{{ list_title }}</h2>
<ng-container *ngIf="object_list.length > 1">
  <ngx-slick
    class="popular-carousel"
    [config]="{
      'centerMode':   true,
      'dots':         true,
      'arrows':       true,
      'variableWidth':true,
      'responsive': [
        {
          breakpoint: 639,
          slidesToShow: 1,
          slidesToScroll: 1,
          width: 280
        },
        {
          breakpoint: 9999,
          settings: 'unslick'
        }
      ]
    }"
    drag-scroll-y-disabled="true"
    scrollbar-hidden="true"
    dragScroll
    #popular_list>
    <ng-container
      *ngFor="let popular_publication of object_list; let i = index;">
      <div ngxSlickItem class="slide" *ngIf="popular_publication">
        <app-publication-announce
          class="popular-publication"
          [publication]="popular_publication"
        ></app-publication-announce>
      </div>
    </ng-container>
  </ngx-slick>
</ng-container>
