<h1>Афиша</h1>

<div class="filter">
  <div class="date_filter"
       [ngClass]="{'week-current': !getCurrentWeek()}">
    Выбрать дату
  </div>
  <div class="week"
       *ngFor="let week of weeks"
       [ngClass]="{'week-current': isCurrentWeek(week)}"
       (click)="changeWeek(week)" >
    <ng-container *ngIf="!week.monthChanged()">
      <app-date [date]="week.start" [date_format]="'D'"></app-date>—<app-date [date]="week.end" [date_format]="'D MMMM'"></app-date>
    </ng-container>
    <ng-container *ngIf="week.monthChanged()">
      <app-date [date]="week.start" [date_format]="'D MMM'"></app-date> — <app-date [date]="week.end" [date_format]="'D MMM'"></app-date>
    </ng-container>
  </div>
</div>

<div class="event_list"
     (window:resize)="onResize()">
  <div
    *ngFor="let day of events_list"
    class="date-block">
    <div *ngIf="day.events.length > 0"
         class="date"><app-date-calendar [date]="day.date" [date_format]="'D MMMM'"></app-date-calendar></div>
    <ng-container *ngFor="let column_num of columns; let column_i = index;">
      <div class="column column-{{ column_i }}"
           [ngClass]="column_i === columns_count-1 ? 'column-last' : ''"
           *ngIf="column_i < columns_count">
        <ng-container *ngFor="let event of day.events; let event_i = index;">
          <app-events-announce
            class="event-list-item"
            *ngIf="event_i % columns_count === column_i"
            [event]="event"></app-events-announce>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>

<a [routerLink]="['/events', formatStartDate(getNextWeek()), formatEndDate(getNextWeek())]"
   class="next-week-button big-text"
   *ngIf="getNextWeek()"
   (click)="changeWeek(getNextWeek())">
  Показать события следующей недели
</a>
<a [routerLink]="['/events', formatStartDate(getNextWeek()), formatEndDate(getNextWeek())]"
   class="next-week-button small-text"
   *ngIf="getNextWeek()"
   (click)="changeWeek(getNextWeek())">
  Следующая неделя
</a>
