@import "../../../assets/styles/defaults";

@column-width: 260px;
@column-margin: 30px;

:host {
  display: block;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  padding: 30px 0 65px @column-margin;
  box-sizing: border-box;
  // 4 колонки
  @media all and (min-width: (4 * @column-width + 5 * @column-margin)) {
    width: (4 * @column-width + 5 * @column-margin);
  }
  // 3 колонки
  @media all and (min-width: (3 * @column-width + 4 * @column-margin)) and (max-width: (4 * @column-width + 5 * @column-margin - 1)) {
    width: (3 * @column-width + 4 * @column-margin);
  }
  // 2 колонки
  @media all and (min-width: (2 * @column-width + 3 * @column-margin)) and (max-width: (3 * @column-width + 4 * @column-margin - 1)) {
    width: (2 * @column-width + 3 * @column-margin);
  }
  // 1 колонка
  @media all and (max-width: (2 * @column-width + 3 * @column-margin - 1)) {
    width: (1 * @column-width + 2 * @column-margin);
  }
}

h1 {
  .important_text();
  letter-spacing: normal;
  margin: 0 0 35px;
}

.filter {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  .date_filter,
  .week {
    display: block;
    float: left;
    width: (((4 * @column-width + 5 * @column-margin) - 6 * @column-margin) / 5);
    border: 1px solid @COLOR-LIGHT-GRAY;
    box-sizing: border-box;
    margin: 0 @column-margin 0 0;
    .fields_text(14px, @COLOR-GRAY);
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 43px;
    cursor: pointer;
    &.week-current {
      border-color: @COLOR-LIGHT-BLUE-GREEN;
      background: @COLOR-LIGHT-BLUE-GREEN;
      color: @COLOR-BLUE-GREEN;
      cursor: default;
    }
    // 3 колонки
    @media all and (min-width: (3 * @column-width + 4 * @column-margin)) and (max-width: (4 * @column-width + 5 * @column-margin - 1)) {
      width: @column-width;
    }
    @media all and (min-width: (2 * @column-width + 3 * @column-margin)) and (max-width: (3 * @column-width + 4 * @column-margin - 1)) {
      width: ((2 * @column-width + @column-margin - 2 * @column-margin) / 3);
    }
    @media all and (max-width: (2 * @column-width + 3 * @column-margin - 1)) {
      width: 100%;
    }
  }
}

.column {
  display: block;
  overflow: hidden;
  width: @column-width;
  float: left;
  margin: 0 @column-margin 0 0;
  box-sizing: border-box;
  @media all and (max-width: (2 * @column-width + 3 * @column-margin - 1)) {
    width: 100%;
  }
}
.date-block {
  display: block;
  overflow: hidden;
  margin: 45px 0 0;
}
.date {
  display: block;
  overflow: hidden;
  width: 100%;
  clear: both;
  margin: 0 0 20px;
  box-sizing: border-box;
  .section_text(16px, @COLOR-BLACK);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: bold;
  text-align: left;
}

.event_list {
  display: block;
  overflow: hidden;
  margin: 0 0 45px;
}

.next-week-button {
  display: inline-block;
  overflow: hidden;
  padding: 5px 45px;
  line-height: 30px;
  .section_text(14px, @COLOR-BLUE-GREEN);
  background: none;
  border: 1px solid;
  border-radius: 26px;
  margin: 0 auto;
  cursor: pointer;
  text-decoration: none;
  &:hover, &:active {
    outline-style: none;
  }
  &:after {
    content: ' ›';
    line-height: 38px;
    vertical-align: top;
  }
  &.big-text {
    display: none;
  }
  &.small-text {
    display: inline-block;
  }
  @media all and (min-width: 620px) {
    &.big-text {
      display: inline-block;
    }
    &.small-text {
      display: none;
    }
  }
}

.event_list {
  display: block;
  overflow: hidden;
  margin: 0 0 45px;
}

.next-week-button {
  display: inline-block;
  overflow: hidden;
  padding: 5px 45px;
  line-height: 30px;
  .section_text(14px, @COLOR-BLUE-GREEN);
  background: none;
  border: 1px solid;
  border-radius: 26px;
  margin: 0 auto;
  cursor: pointer;
  text-decoration: none;
  &:hover, &:active {
    outline-style: none;
  }
  &:after {
    content: ' ›';
    line-height: 38px;
    vertical-align: top;
  }
  &.big-text {
    display: none;
  }
  &.small-text {
    display: inline-block;
  }
  @media all and (min-width: 440px) {
    &.big-text {
      display: inline-block;
    }
    &.small-text {
      display: none;
    }
  }
}
