@import "../../../assets/styles/defaults";

.counter {
  font-size: 16px;
}
.current_number {
  font-size: 32px;
}
.image {
  display: block;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: -9000px;
  float: left;
}
