@import "../../../../assets/styles/defaults";

:host {
  display: block;
  overflow: visible;
  position: relative;
}
iframe {
  width: 100%;
  height: 400px;
//  position: relative;
//  left: 50%;
//  transform: translateX(-50%);
//
//  @media all and (min-width: @SCREEN-SMALL-SIZE) and (max-width: (@SCREEN-BIG-SIZE - 1)) {
//    width: @WIDTH-SMALL--SIZE-CONTENT;
//    height: 360px;
//  }
}
