<div class="publication-list-container"
     *ngIf="rubric && object_list"
     infiniteScroll
     (scrolled)="onScrollDown()"
     (window:resize)="onResize()">

  <h1 class="rubric_title">{{ rubric.title }}</h1>

  <app-columns-grid-list
    [object_list]="object_list"
    [infinityScrollAction]="onScrollDown"
  >

    <ng-template let-item="$implicit" let-i="index">
        <app-publication-announce
          class="rubric_publication"
          [publication]="item"
          [show_categories]="false"
          [image]="item.main_block_image"
          [title]="item.main_block_custom_title"
        ></app-publication-announce>
    </ng-template>

  </app-columns-grid-list>

  <div class="controls">
    <button
      class="more_button"
      [ngClass]="{'loading':loading}"
      (click)="nextPage();"
      [style.display]="end ? 'none' : 'block'"
    >Еще</button>
  </div>

</div>
