@import "../../../assets/styles/defaults";

@column-width: 240px;
@column-margin: 20px;

:host {
  display: block;
}

h1 {
  display: block;
  overflow: hidden;
  margin: 35px 0 40px;
  .important_text(40px);
  letter-spacing: 11px;
  height: auto;
  line-height: normal;
}

.publication-list-container {
  display: block;
  overflow: hidden;
  margin: 0 auto;
  @media all and (min-width: (@column-width * 4 + @column-margin * 5)) {
    width: (@column-width * 4 + @column-margin * 3);
  }
  @media all and (min-width: (@column-width * 3 + @column-margin * 4)) and (max-width: (@column-width * 4 + @column-margin * 5 - 1)) {
    width: (@column-width * 3 + @column-margin * 2);
  }
  @media all and (min-width: (@column-width * 2 + @column-margin * 3)) and (max-width: (@column-width * 3 + @column-margin * 4 - 1)) {
    width: (@column-width * 2 + @column-margin * 1);
  }
  @media all and (max-width: (@column-width * 2 + @column-margin * 3 - 1)) {
    width: @column-width;
  }
}

.column {
  display: block;
  overflow: hidden;
  width: @column-width;
  margin-right: @column-margin;
  float: left;
  &.column-last {
    margin-right: 0;
  }
}

:host ::ng-deep app-banner-telegram-subscribe,
:host ::ng-deep app-banner,
:host ::ng-deep app-banner-adfox,
.item {
  display: block;
  overflow: hidden;
  margin: 0 0 @column-margin;
}
.item {
  border: 1px solid @COLOR-LIGHT-GRAY;
  border-bottom-width: 5px;
}

.controls {
  display: block;
  overflow: hidden;
  clear: both;
}
