@import "../../../../assets/styles/defaults";

@GALERY-HEIGHT: 470px;
@GALERY-HEIGHT-MEDIUM: 340px;
@GALERY-HEIGHT-SMALL: 200px;

:host {
  display: block;
  overflow: visible;
  min-height: @GALERY-HEIGHT;
  clear: both;
  @media all and (max-width: (@SCREEN-SMALL-SIZE + 1)) and (max-width: (@SCREEN-BIG-SIZE)) {
    min-height: @GALERY-HEIGHT-MEDIUM;
  }
  @media all and (max-width: @SCREEN-SMALL-SIZE) {
    min-height: @GALERY-HEIGHT-SMALL;
  }
}

.gallery {
  display: block;
  overflow: hidden;
  background: #000;
  //position: absolute;
  left: 0;
  right: 0;
  height: @GALERY-HEIGHT;
  margin: 0;
  @media all and (max-width: (@SCREEN-SMALL-SIZE + 1)) and (max-width: (@SCREEN-BIG-SIZE)) {
    height: @GALERY-HEIGHT-MEDIUM;
  }
  @media all and (max-width: @SCREEN-SMALL-SIZE) {
    height: @GALERY-HEIGHT-SMALL;
  }
}
.slide {
  display: block;
  position: relative;
  float: left;
  height: @GALERY-HEIGHT;
  @media all and (max-width: (@SCREEN-SMALL-SIZE + 1)) and (max-width: (@SCREEN-BIG-SIZE)) {
    height: @GALERY-HEIGHT-MEDIUM;
  }
  @media all and (max-width: @SCREEN-SMALL-SIZE) {
    height: @GALERY-HEIGHT-SMALL;
  }
}
.slide .slide_image {
  display: block;
  height: 100%;
  width: auto;
  opacity: 0.2;
  transition: opacity .5s ease-in-out;
  max-height: @GALERY-HEIGHT;
  @media all and (max-width: (@SCREEN-SMALL-SIZE + 1)) and (max-width: (@SCREEN-BIG-SIZE)) {
    max-height: @GALERY-HEIGHT-MEDIUM;
  }
  @media all and (max-width: @SCREEN-SMALL-SIZE) {
    max-height: @GALERY-HEIGHT-SMALL;
  }
}
.slide.slick-current img {
  opacity: 1;
}
.number {
  color: @COLOR-WHITE;
  font-size: 35px;
  position: absolute;
  left: 10px;
  top: 10px;
}
:host ::ng-deep {
  ngx-slick {
    .slick-dots {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }
    .slick-dots button:before {
      display: none;
    }
    .slick-dots button {
      width: 8px;
      height: 8px;
      box-sizing: border-box;
      border: 1px solid #fff;
      background: none;
      border-radius: 4px;
      padding: 0;
    }
    .slick-dots .slick-active button {
      background: #fff;
    }
    .slick-arrow {
      position: absolute;
      bottom: 20px;
      top: auto;
      z-index: 3;
    }
    .slick-prev {
      left: 50%;
      margin-left: -350px;
    }
    .slick-prev:before {
      content: '⟵';
    }
    .slick-next {
      right: 50%;
      margin-right: -350px;
    }
    .slick-next:before {
      content: '⟶';
    }
  }
  app-image-caption {
    .title, .author {
      display: inline-block;
    }
  }
}
