<ng-container *ngIf="is_browser_or_server_service.is_browser && part.images.length > 1">
  <ngx-slick class="gallery carousel"
             [config]="{
            'centerMode':   true,
            'dots':         true,
            'arrows':       true,
            'variableWidth':true
           }"
             (afterChange)="afterChange($event)"
             drag-scroll-y-disabled="true"
             scrollbar-hidden="true"
             dragScroll
             #gallery>
    <div ngxSlickItem class="slide"
         *ngFor="let photo of part.images; let i = index;">
      <img class="slide_image"
           width="{{ photo.width }}"
           height="{{ photo.height }}"
           src="{{ photo.url }}" />
    </div>
  </ngx-slick>

  <app-image-caption
    *ngIf="current_slide !== null"
    [title]="part.images[current_slide].title"
    [author]="part.images[current_slide].author"
  ></app-image-caption>

</ng-container>
