<span class="image"
      [style.backgroundImage]="'url('+(image.url)+')'">
  <img src="{{ image.url }}"
       title="{{ image.title }}"
       width="{{ image.width }}"
       height="{{ image.height }}"
       class="image-width">
</span>

<app-image-caption
  *ngIf="show_caption"
  [title]="image.title"
  [author]="image.author"
></app-image-caption>
