@import "../../../assets/styles/defaults";

.image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.image-width {
  display: block;
  width: 100%;
  height: auto;
}
