@import "../../../assets/styles/defaults";

.form-container {
  display: block;
  overflow: hidden;
  position: relative;
  height: 20px;

  .search_form {
    display: block;
    overflow: hidden;
    padding: 0 0 5px;
  }

  .toggle_button {
    display: block;
    overflow: hidden;
    width: 20px;
    height: 20px;
    background: url("/assets/images/icons/search.svg") center center no-repeat;
    cursor: pointer;
    float: left;
    margin-left: 5px;
  }
  .button {
    display: block;
    overflow: hidden;
    box-shadow: none;
    float: left;
    width: 20px;
    height: 20px;
    background: url("../assets/find-goto.svg") center center no-repeat;
    margin-left: 5px;
    &,&:hover,&:focus {
      border: none;
      padding: 0;
    }
  }
  .input {
    display: block;
    overflow: auto;
    float: left;
    width: 100%;
    margin: 0 -55px 0 0;
    box-sizing: border-box;
    height: 20px;
    .caption_text(16px, @COLOR-BLACK, normal);
    &,&:hover,&:focus {
      outline-style: none;
      border: none;
      padding: 0 55px 0 0;
    }
  }

  &.collapsed {

    .toggle_button {
      display: block;
      overflow: hidden;
    }

    .button {
      display: none;
    }

    .input {
      display: none;
    }

  }

  &.expanded {

    height: auto;

    @media all and (max-width: (@WIDTH-BIG--SIZE-CONTENT - 1)) {
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 25px 20px 0;
    }

    .search_form {
      border-bottom: 1px solid @COLOR-DARK-BLUE-GREEN;
    }

    .toggle_button {
      background-image: url('/assets/images/icons/search-close.svg');
    }
    .button {
      display: block;
    }

    .input {
      display: block;
    }

  }

}
