<div class="form-container"
     [ngClass]="{
        'collapsed': collapsed,
        'expanded': !collapsed
      }">
  <form
    class="search_form"
    (ngSubmit)="onSubmit($event)"
    [ngClass]="{
      'collapsed': collapsed,
      'expanded': !collapsed
    }">
    <input type="text"
           class="input"
           placeholder="Поиск"
           [formControl]="searchField"
    >
    <button
      type="submit"
      class="button"></button>
    <span
      class="toggle_button"
      (click)="toggleSearch($event)"
    ></span>
  </form>
</div>
