:host {
  display: inline-block;
  overflow: hidden;
}
.button {
  display: inline-block;
  overflow: hidden;
  width: 18px;
  height: 32px;
  line-height: 45px;
  vertical-align: top;
  background: url("./../assets/push.svg") center center no-repeat;
  background-size: contain;
  &, &:hover, &:active, &:visited {
    border: none;
  }
  :host-context(.footer) & {
    background-image: url("./../assets/push-white.svg");
  }
}
