@import "../../../assets/styles/defaults";

:host {
  display: block;
  overflow: hidden;
  clear: both;
}
.publication-item {
  display: block;
  overflow: hidden;
  clear: both;
  padding: 65px 0 0;
  margin: 65px 0 0;
  border-top: 3px solid @COLOR-LIGHT-GRAY;
  &.publication-item-TITLE_ON_IMAGE {
    padding: 0;
    border-top: none;
  }
  :host:first-child > & {
    padding: 0;
    margin: 0;
    border-top: 0;
  }
}

.rubric-list {
  display: inline-block;
}
.rubric-list:after {
  display: inline-block;
  content: ' | ';
}
.rubric-item {
  display: inline-block;
}
.rubric-item:after {
  display: inline-block;
  content: ' • ';
}
.rubric-item:last-child:after {
  display: none;
}
.rubric {
  color: inherit;
  vertical-align: top;
  line-height: inherit;
  margin: 0;
}

h1 {
  .important_text();
  margin: 0 auto 40px;
  letter-spacing: normal;
  text-transform: none;
  max-width: @WIDTH-BIG--SIZE-CONTENT;
  padding: 0 20px;
  @media all and (min-width: @SCREEN-SMALL-SIZE) and (max-width: (@SCREEN-BIG-SIZE - 1)) {
    font-size: 40px;
  }
  @media all and (max-width: (@SCREEN-SMALL-SIZE - 1)) {
    font-size: 26px;
  }
}

.announce {
  display: block;
  overflow: hidden;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
}
.announce_image {
  display: block;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  .announce_image--wrapper {
    display: none;
  }
  .announce-TITLE_BEFORE_IMAGE & .announce_image--wrapper {
    display: block;
    overflow: hidden;
    opacity: 0;
    width: 100%;
    height: auto;
  }
  .announce-TITLE_ON_IMAGE & {
    height: 70vh;
  }
  .announce-TITLE_ON_IMAGE &:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.2+0,0.8+100 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
  }
}
.announce-text-wrapper  {
  display: block;
  overflow: hidden;
  z-index: 3;
}
.announce.announce-TITLE_BEFORE_IMAGE {
  & {
    width: 1220px;
    margin: 0 auto;
    @media all and (max-width: (@SCREEN-BIG-SIZE - 1)) {
      width: 100%;
    }
  }
  .announce-text-wrapper {
    color: @COLOR-BLACK;
  }
}
.announce.announce-TITLE_ON_IMAGE {
  .meta {
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translate(-50%, 0);
    .caption_text(12px, @COLOR-WHITE);
    z-index: 3;
    @media all and (max-width: (@SCREEN-BIG-SIZE - 1)) {
      top: 0;
    }
  }
  h1 {
    color: @COLOR-WHITE;
    position: absolute;
    left: 50%;
    bottom: 50px;
    text-align: center;
    width: 100%;
    transform: translate(-50%, 0);
    box-sizing: border-box;
    z-index: 3;
    max-width: 1110px;
    @media all and (max-width: (@SCREEN-BIG-SIZE - 1)) {
      padding: 0 20px;
      width: 100%;
      margin: 0 0 40px;
    }
    @media all and (max-width: (@SCREEN-SMALL-SIZE - 1)) {
      margin: 0;
    }
  }
}

.announce.announce-TITLE_BEFORE_IMAGE {
  padding: 50px 0 0;
  @media all and (max-width: (@SCREEN-BIG-SIZE - 1)) {
    padding: 20px 0 0;
  }
}
.announce.announce-NO_IMAGE {
  padding: 50px 0 0;
  @media all and (max-width: (@SCREEN-BIG-SIZE - 1)) {
    padding: 20px 0 0;
  }
  .announce_image {
    display: none;
  }
}

.content-wrapper {
  display: block;
  width: 1110px;
  margin: 0 auto 40px;
  padding: 0;
  @media all and (max-width: (@SCREEN-BIG-SIZE - 1)) {
    width: 100%;
  }
}
.content {
  display: block;
  overflow: hidden;
  text-align: left;
  box-sizing: border-box;
  padding: 50px 0 0;
  @media all and (max-width: (@SCREEN-BIG-SIZE - 1)) {
    overflow: hidden;
    padding: 50px 20px 0;
  }
  &:after {
    display: block;
    content: ' ';
    clear: both;
  }
}

:host ::ng-deep app-right-col {
  display: block;
  width: 300px;
  float: right;
  margin: 0 0 30px 50px;
  padding: 50px 0 0;
  @media all and (max-width: (@SCREEN-BIG-SIZE - 1)) {
    display: none;
  }
}
.with-right-col {
  .content {
    width: 760px;
    @media all and (max-width: (@SCREEN-BIG-SIZE - 1)) {
      width: 100%;
    }
  }
}

:host ::ng-deep app-dynamic-content {
  display: block;
  overflow: hidden;
  margin-bottom: -30px;
}

:host ::ng-deep app-dynamic-image-float,
:host ::ng-deep app-dynamic-image-wrap,
:host ::ng-deep app-dynamic-html-p,
:host ::ng-deep app-dynamic-html-blockquote,
:host ::ng-deep app-dynamic-gallery {
  display: block;
  margin: 30px 0;
}

.publication-footer {
  clear: both;
  display: block;
  overflow: hidden;
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: justify;
  &.with-right-col {
    padding: 0 330px 0 0;
  }
  @media all and (max-width: (@SCREEN-BIG-SIZE - 1)) {
    &,&.with-right-col {
      padding: 0 20px;
    }
  }
  &:after {
    display: inline-block;
    width: 100%;
    height: 1px;
    content: ' ';
  }

  & ::ng-deep app-date-time {
    .caption_text(13px, inherit, normal);
  }
  & ::ng-deep app-date-time,
  & ::ng-deep app-share-social-buttons,
  & ::ng-deep app-publication-author,
  & ::ng-deep .separator {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    line-height: 42px;
    vertical-align: middle;
  }
  & .separator {
    width: 1px;
    height: 20px;
    margin-top: 13px;
    border-right: 1px solid @COLOR-LIGHT-GRAY;
    vertical-align: top;
  }
  @media all and (max-width: (@SCREEN-SMALL-SIZE - 1)) {
    & .separator:nth-child(4) {
      margin-top: 0px;
      height: 0px;
      margin-bottom: 5px;
      width: 100%;
      border-top: 1px solid @COLOR-LIGHT-GRAY;
    }
    & ::ng-deep app-share-social-buttons {
      margin-top: -20px;
    }
  }
  //& ::ng-deep app-share-social-buttons {
  //  float: right;
  //}
  //& ::ng-deep app-publication-author {
  //  float: left;
  //}
}
