<article
  *ngIf="current_publication"
  id="publication_{{ current_publication.id }}"
     class="publication-item publication-item-{{ current_publication.announce_image_type }}">
<div class="announce announce-{{ current_publication.announce_image_type }}">

  <div class="announce-text-wrapper">

    <h1
      *ngIf="current_publication && current_publication.title"
      [innerHtml]="current_publication.title"></h1>

  </div>

  <div class="announce_image"
       *ngIf="current_publication.announce_image_type !== 'NO_IMAGE' && current_publication.announce_image"
       [style.backgroundImage]="'url('+current_publication.announce_image.url+')'">
    <img src="{{ current_publication.announce_image.url }}"
         width="{{ current_publication.announce_image.width }}"
         height="{{ current_publication.announce_image.height }}"
         class="announce_image--wrapper">
  </div>

  <app-image-caption
    class="announce_image-caption"
    *ngIf="current_publication.announce_image_type !== 'NO_IMAGE' && current_publication.announce_image"
    [author]="current_publication.announce_image.author"
  ></app-image-caption>

</div>

<div class="content-wrapper"
     [ngClass]="{
        'with-right-col': show_right_col,
        'with-right-banner': show_right_banner,
        'with-right-other-publication': other_publications_count > 0,
        'without-right-col': !show_right_col,
        'without-right-banner': !show_right_banner,
        'without-right-other-publication': other_publications_count == 0
      }">
  <app-right-col
    [ngClass]="{
        'with-right-col': show_right_col,
        'with-right-banner': show_right_banner > 0,
        'with-right-other-publication': other_publications_count > 0,
        'without-right-col': !show_right_col,
        'without-right-banner': !show_right_banner,
        'without-right-other-publication': other_publications_count == 0
      }"
    *ngIf="current_publication && (show_right_banner || other_publications_count)"
    [current_publication]="current_publication"
    [other_publications_count]="other_publications_count"
    [show_related_publications]="current_publication.format === 'publication'"
    [show_baner]="show_right_banner"
  ></app-right-col>

  <div *ngIf="current_publication && current_publication.text"
       class="content js-mediator-article"
       #contentBlock
       (window:resize)="onResize($event)">
    <app-dynamic-content-2 [text_parts]="current_publication.text"></app-dynamic-content-2>
  </div>
</div>

<div class="publication-footer"
     ngPreserveWhitespaces
     *ngIf="current_publication"
     [ngClass]="{
        'with-right-col': show_right_col,
        'with-right-banner': show_right_banner,
        'with-right-other-publication': other_publications_count,
        'without-right-col': !show_right_col,
        'without-right-banner': !show_right_banner,
        'without-right-other-publication': !other_publications_count
      }">
  <app-publication-author [authors]="current_publication.authors"></app-publication-author>
  <div class="separator" *ngIf="current_publication.authors && current_publication.authors.length > 0">&nbsp;</div>
  <app-date-time
    [date]="current_publication.publish_at"
    [show_time]="true"></app-date-time>
  <div class="separator">&nbsp;</div>
  <app-share-social-buttons
    *ngIf="current_publication && show_share_buttons"
    [label]="'Поделиться'"
    [share_url]="getPublicationUrl(true)"
    [share_title]="current_publication.meta_og_title"
    [share_description]="current_publication.meta_og_description"
  ></app-share-social-buttons>
</div>

</article>
