<app-search-form
  [query]="query"
></app-search-form>

<app-columns-grid-list
  [object_list]="object_list"
  [infinityScrollAction]="onScrollDown"
>
  <ng-template let-item="$implicit">
    <app-publication-announce
      class="rubric_publication"
      [publication]="item"
      [show_categories]="false"
      [image]="item.main_block_image"
      [title]="item.main_block_custom_title"
    ></app-publication-announce>
  </ng-template>
</app-columns-grid-list>
