@import "../../../assets/styles/defaults";

@column-width: 240px;
@column-margin: 20px;

:host {
  display: block;
  overflow: hidden;
  margin: 35px auto;
  @media all and (min-width: (@column-width * 4 + @column-margin * 5)) {
    width: (@column-width * 4 + @column-margin * 3);
  }
  @media all and (min-width: (@column-width * 3 + @column-margin * 4)) and (max-width: (@column-width * 4 + @column-margin * 5 - 1)) {
    width: (@column-width * 3 + @column-margin * 2);
  }
  @media all and (min-width: (@column-width * 2 + @column-margin * 3)) and (max-width: (@column-width * 3 + @column-margin * 4 - 1)) {
    width: (@column-width * 2 + @column-margin * 1);
  }
  @media all and (max-width: (@column-width * 2 + @column-margin * 3 - 1)) {
    width: @column-width;
  }

  ::ng-deep app-search-form {
    display: block;
    overflow: hidden;
    margin: 0 0 35px;
  }
}

.column {
  display: block;
  overflow: hidden;
  width: @column-width;
  margin-right: @column-margin;
  float: left;
  &.column-last {
    margin-right: 0;
  }
}

.search-result-item-container {
  display: block;
  overflow: hidden;
  margin: 0 0 @column-margin;
}
