<div class="container container-{{ type }}">

  <app-publication-announce
    *ngIf="publications.length == 1"
    [publication]="publications[0]"></app-publication-announce>
  <div class="block-title" *ngIf="title">{{ title }}</div>

</div>
