<div class="message">
  <div class="message_inner">
    <h1>СТРАНИЦА НЕ НАЙДЕНА</h1>
    <p>Неправильно набран адрес, или&nbsp;такой страницы на&nbsp;сайте больше не&nbsp;существует.</p>
    <a [routerLink]="['/']" class="home_link">На главную</a>
  </div>
</div>
<div class="other_publications_footer">
  <app-publication-popular-list
    [show_title]="false"
  ></app-publication-popular-list>
</div>
