@import "../../../assets/styles/defaults";

.message {
  display: block;
  overflow: hidden;
  height: 50vh;
  min-height: 250px;
  position: relative;
}
.message_inner {
  display: block;
  overflow: hidden;
  width: 100%;
  max-width: 650px;
  padding: 0 20px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  .important_text(34px);
  margin-bottom: 25px;
  letter-spacing: 9px;
}
p {
  display: block;
  overflow: hidden;
  max-width: 385px;
  margin: 0 auto;
  .regular_text(16px);
  margin-bottom: 30px;
  line-height: 24px;
}

.home_link {
  display: inline-block;
  border: 1px solid @COLOR-LIGHT-BLUE-GREEN;
  padding: 0 30px;
  .caption_text(18px, @COLOR-LINK, normal);
  line-height: 46px;
}

.other_publications_footer {
  display: block;
  overflow: hidden;
  padding: 70px 0 40px;
  background: @COLOR-ULTRA-LIGHT-BLUE-GREEN;
}
