@import "../../../assets/styles/defaults";

.authors-list {
  display: block;
  overflow: hidden;
  .caption_text(13px, inherit, normal);
  text-align: left;
  &:before {
    display: block;
    overflow: hidden;
    content: 'Авторы';
    color: @COLOR-GRAY
  }
  &.authors-list-one {
    &:before {
      content: 'Автор'
    }
  }
}

.author {
  display: block;
  overflow: hidden;
  float: left;
  margin: 0 0 10px 0;
  color: @COLOR-BLACK;
}
