<div class="authors-list"
     ngPreserveWhitespaces
     *ngIf="authors && authors.length > 0"
     [ngClass]="authors.length === 1 ? 'authors-list-one' : ''">
  <div
    *ngFor="let author of authors; let i = index;"
    class="author">
    <span class="first_name"
          [innerHtml]="author.first_name"
          *ngIf="author.first_name">
    </span><span *ngIf="author.last_name">
    </span><span class="last_name"
          [innerHtml]="author.last_name"
          *ngIf="author.last_name">
    </span><span *ngIf="i < authors.length-1">,&nbsp;</span>
  </div>
</div>
