<div class="social-button-container">
  <span class="label"
        *ngIf="title"
        [innerHTML]="title"></span>

  <div class="buttons_container">
    <a href="https://vk.com/momenty_ekb"
       target="_blank"
       class="social-button social-button--vk">вконтакте</a>
    <a href="https://www.facebook.com/Momenty.org"
       target="_blank"
       class="social-button social-button--fb">facebook</a>
    <a href="https://www.instagram.com/momenty_ekb"
       target="_blank"
       class="social-button social-button--it">instagram</a>
    <a href="tg://resolve?domain=momenty_ekb"
       class="social-button social-button--tg">telegram</a>
  </div>
</div>
