@import "../../../assets/styles/defaults";

:host {
  display: inline-block;
  overflow: hidden;
}

.social-button-container {
  display: inline-block;
  overflow: hidden;
  line-height: inherit;
}

.label {
  display: inline-block;
  .addition_text(13px, inherit);
  vertical-align: middle;
  margin-right: 25px;
}

.buttons_container {
  display: inline-block;
}

.social-button {
  display: inline-block;
  width: 27px;
  height: 18px;
  margin: -5px 30px 0 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -9000px;
  vertical-align: middle;

  &, &:hover, &:active, &:visited {
    border: none;
  }

  &:last-child {
    margin-right: 0;
  }

  :host-context(.footer) & {
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }

  &--fb {
    width: 18px;
    background-image: url("./../assets/social-links/fb-black.svg");
    :host-context(.footer) & {
      background-image: url("./../assets/social-links/fb-white.svg");
    }
  }
  &--ok {
    background-image: url("./../assets/social-links/ok-black.svg");
    :host-context(.footer) & {
      background-image: url("./../assets/social-links/ok-white.svg");
    }
  }
  &--tw {
    background-image: url("./../assets/social-links/tw-black.svg");
    :host-context(.footer) & {
      background-image: url("./../assets/social-links/tw-white.svg");
    }
  }
  &--vk {
    width: 27px;
    background-image: url("./../assets/social-links/vk-black.svg");
    :host-context(.footer) & {
      background-image: url("./../assets/social-links/vk-white.svg");
    }
  }
  &--it {
    width: 21px;
    background-image: url("./../assets/social-links/it-black.svg");
    :host-context(.footer) & {
      background-image: url("./../assets/social-links/it-white.svg");
    }
  }
  &--tg {
    width: 22px;
    background-image: url("./../assets/social-links/tg-black.svg");
    :host-context(.footer) & {
      background-image: url("./../assets/social-links/tg-white.svg");
    }
  }
}


:host-context(.promo-line) {
  .social-button-container {
    float: none;
    line-height: 42px;
  }
}

:host-context(.subscribe-line) {
  .label {
    line-height: 50px;
    padding: 0;
    margin: 0 25px 0 0;
    white-space: nowrap;
    width: auto;
    @media all and (min-width: @SCREEN-SMALL-SIZE) and (max-width: (@SCREEN-BIG-SIZE - 1)) {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
}
