.for-adult-only {
  display: block;
  overflow: hidden;
  text-indent: -9000px;
  width: 24px;
  height: 32px;
  background: url(./assets/18-plus.svg) center center no-repeat;
  background-size: contain;
  :host-context(.menu) & {
    float: right;
  }
  :host-context(.footer) & {
    background-image: url(./assets/18-plus-white.svg);
  }
}
