@import "../../../../assets/styles/defaults";

:host {
  display: block;
  overflow: hidden;
  clear: both;
}
.date {
  display: block;
  overflow: hidden;
  text-align: center;
  .section_text(15px);
  line-height: 30px;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
  margin: 0 0 45px;
  letter-spacing: 2px;
  font-style: normal;
  background: @COLOR-WHITE;
  width: 100%;
  &.date_big {
    display: block;
    //top: 89px !important;
  }
  &.date_medium {
    display: none;
    //top: 83px !important;
  }
  &.date_small {
    display: none;
    //top: 53px !important;
  }
  @media all and (min-width: @SCREEN-SMALL-SIZE) and (max-width: (@SCREEN-BIG-SIZE - 1)) {
    &.date_big {
      display:  none;
    }
    &.date_medium {
      display: block;
    }
    &.date_small {
      display: none;
    }
  }
  @media all and (max-width: (@SCREEN-SMALL-SIZE - 1)) {
    &.date_big {
      display:  none;
    }
    &.date_medium {
      display: none;
    }
    &.date_small {
      display: block;
    }
  }
  &.sticky {
    width: 100% !important;
    left: 0 !important;
    right: 0 !important;
  }
}
