<div class="events_list">
<div *ngFor="let date_block of dates; let i = index"
     class="events_by_day">

  <div *ngIf="is_browser_or_server_service.is_browser"
       sticky
       class="date date_big"
       [sticky-parent]="true">
    <app-date-calendar [date]="date_block.date"></app-date-calendar>
  </div>
  <div *ngIf="is_browser_or_server_service.is_browser"
       sticky
       class="date date_medium"
       [sticky-parent]="true">
    <app-date-calendar [date]="date_block.date"></app-date-calendar>
  </div>
  <div *ngIf="is_browser_or_server_service.is_browser"
       sticky
       class="date date_small"
       [sticky-parent]="true">
    <app-date-calendar [date]="date_block.date"></app-date-calendar>
  </div>

  <ng-container *ngFor="let event of date_block.events">
    <app-events-small-detail [event]="event"></app-events-small-detail>
  </ng-container>
</div>
</div>
