:host {
}

:host-context(app-new-old-menu) {
  .link {
    display: inline-block;
    overflow: hidden;
    width: 21px;
    height: 32px;
    line-height: 45px;
    vertical-align: top;
    background: url("/assets/images/icons/phone-call.svg") center center no-repeat;
    background-size: contain;
    span {
      display: none;
    }
    &, &:hover, &:active, &:visited {
      border: none;
    }
  }
}
