<div class="banner_block"
     [ngClass]="{
        'top_banner_visible': top_banner_show,
        'top_banner_hidden': !top_banner_show
     }"
     id="header_banner">
  <app-banner
    (banner_show)="bannerSwitch($event)"
    [image_url]=""></app-banner>
</div>
<div class="content_block"
     [ngClass]="{
        'top_banner_visible': top_banner_show,
        'top_banner_hidden': !top_banner_show
     }">
  <header class="header"
          id="header">
    <app-new-old-menu
      [collapsed]="true"
      [allow_toggle]="true"></app-new-old-menu>
  </header>

  <router-outlet></router-outlet>

  <footer class="footer">
    <app-footer-menu></app-footer-menu>
  </footer>

  <app-scroll-top></app-scroll-top>

  <div class="shadow"
       (click)="hideShadow()"
       *ngIf="show_shadow"></div>

</div>
