@import "../assets/styles/defaults";

:host {
  display: block;
  overflow: hidden;
  position: relative;
}

.banner_block {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 150px;
  margin: 0 auto;
  &.top_banner_hidden {
    height: 0;
  }
}

.content_block {
  padding: 195px 0 0;
  @media all and (max-width: (@WIDTH-BIG--SIZE-CONTENT - 1)) {
    padding-top: 65px;
  }
}
.header {
  display: block;
  overflow: visible;
  text-align: center;
  z-index: 5;
  position: absolute !important;
  left: 0;
  width: 100%;
  top: 0 !important;
}
.top_banner_visible.content_block > .header {
  top: 150px !important;
}
.header.sticky {
  width: 100%;
  position: fixed !important;
  top: 0 !important;
}
.header-top,
.header-middle,
.header-bottom {
  display: block;
  overflow: hidden;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
}
.header-inner {
  text-align: left;
  width: 1250px;
  margin: 0 auto;
  padding: 30px 0;
}
.header-top {
  height: 95px;
}

.footer {
  display: block;
  overflow: hidden;
  width: 100%;
  background: @COLOR-BLUE-GREEN;
}

.shadow {
  display: block;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 5;
}
