@import "../../../assets/styles/defaults";

:host {
  display: block;
  overflow: visible;
  width: 100%;
  text-align: center;
  position: relative;
}

.menu-outer {
  display: block;
  overflow: hidden;
  position: absolute;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid @COLOR-LIGHT-GRAY;
  background: @COLOR-WHITE;
  z-index: 2;
  &.expanded {
    border-bottom: 2px solid @COLOR-BLUE-GREEN;
  }
  &.collapsed + .menu_shadow {
    display: none;
  }
  &.expanded + .menu_shadow {
    display: block;
    background: rgba(0,0,0,.6);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

}
.menu {
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: (@WIDTH-BIG--SIZE-CONTENT - 40px);
  padding: 0 20px;
  margin: 0 auto;
  .menu_row_1 {
    display: block;
    overflow: hidden;
    padding: 30px 0 25px;
  }
}

:host ::ng-deep {
  app-main-section-links {
    display: block;
    overflow: hidden;
    float: right;
    width: auto;
  }

  app-home-link {
    display: block;
    overflow: hidden;
    float: left;
    margin-left: 85px;
  }
}

.menu_icon {
  display: block;
  overflow: visible;
  width: 31px;
  height: 17px;
  border-top: 1px solid @COLOR-BLACK;
  cursor: pointer;
  position: absolute;
  &, &:before, &:after {
    transition: all .3s ease;
  }
  &:before, &:after {
    content: ' ';
    border-top: 1px solid @COLOR-BLACK;
    position: absolute;
    left: 0;
    margin-top: -1px;
  }
  &:before {
    top: 50%;
    width: 37px;
  }
  &:after {
    top: 100%;
    width: 11px;
  }
  .expanded & {
    border-top: none;
    &:before, &:after {
      width: 30px;
      left: -4px;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
      top: 9px;
    }
  }
}

.menu_row_2, .menu_row_3 {
  height: 0;
  display: block;
  overflow: hidden;
  transition: all .3s ease;
  border-top: 1px solid fade(@COLOR-LIGHT-GRAY, 0);
  padding: 0;
  .expanded & {
    border-top: 1px solid @COLOR-LIGHT-GRAY;
    height: 90px;
  }
}

.expanded .menu_row_3 {
  padding: 25px 0 30px;
  height: 30px;
}

:host ::ng-deep app-subscribe-social-buttons {
  float: none;
  height: 32px;
}
:host ::ng-deep app-adult-only {
  float: right;
  margin-left: 130px;
  height: 32px;
}
:host ::ng-deep app-menu-search-form,
:host ::ng-deep app-subscribe-push {
  display: inline-block;
  margin: 0 10px;
  height: 32px;
  float: right;
}


@media all and (min-width: (@SCREEN-BIG-SIZE - 1)) {
  .menu_row_1 {
    & ::ng-deep {
      app-menu-search-form {
        display: none;
      }
    }
  }
  .menu_row_2 {
    & ::ng-deep {
      app-hot-links {
        display: none;
      }
    }
  }
  .menu_row_3 {
    & ::ng-deep {
      app-main-section-links {
        display: none;
      }
    }
  }
}
@media all and (max-width: (@SCREEN-BIG-SIZE - 1)) {
  .menu_row_1 {
    & ::ng-deep {
      app-main-section-links {
        display: none;
      }
      app-menu-search-form {
        width: auto;
        float: right;
        margin-top: -7px;
        .placeholder {
          display: none;
        }
      }
    }
  }
  .expanded {
    .menu_row_2 {
      height: auto !important;
      padding: 25px 0 50px;
      & ::ng-deep {
        app-rubric-menu {
          display: inline;
          overflow: visible;
          .menu {
            border: none;
            display: inline;
            overflow: visible;
            &:after {
              display: none;
            }
          }
        }
        app-hot-links {
          display: inline;
          overflow: visible;
        }
        app-rubric-menu .menu-item,
        app-hot-links {
          display: block;
          float: left;
          width: (100% / 3);
          height: 32px;
          margin: 0 0 15px;
          &:nth-child(3n+1) {
            text-align: left;
          }
          &:nth-child(3n+2) {
            text-align: center;
          }
          &:nth-child(3n) {
            text-align: right;
          }
          a {
            line-height: 32px;
            height: 32px;
            display: block;
            width: 100%;
            &:before {
              display: inline-block;
              float: none;
              vertical-align: bottom;
            }
          }
        }
      }
    }
    .menu_row_3 {
      height: 55px;
      & ::ng-deep {
        app-hot-links {
          display: none;
        }
        app-menu-search-form {
          display: none;
        }
        app-subscribe-push {
          display: none;
        }
        app-adult-only {
          display: none;
        }
        app-subscribe-social-buttons {
          float: right;
          margin-top: 9px;
        }
        app-main-section-links {
          display: block;
          float: left;
          .main-sections-links--button {
            line-height: 50px;
            border: 1px solid;
            border-radius: 25px;
            font-size: 17px;
            width: 165px;
            text-align: center;
            float: left;
            &:first-child {
              margin-left: 0;
            }
            &:before {
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}
@media all and (max-width: @SCREEN-SMALL-SIZE) {

  .menu {
    .menu_row_1 {
      padding: 15px 0 10px;
      & ::ng-deep {
        app-home-link {
          display: block;
          overflow: hidden;
          float: none;
          margin: 0 auto;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }

  .expanded {
    .menu_row_2 {
      padding: 0;
      & ::ng-deep {
        app-rubric-menu .menu-item,
        app-hot-links {
          display: block;
          overflow: hidden;
          border-bottom: 1px solid @COLOR-LIGHT-GRAY;
          margin: 0;
          padding: 5px 0;
          &:nth-child(n) {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
    .menu_row_3 {
      height: auto;
      & ::ng-deep {
        app-main-section-links {
          float: none;
          width: 100%;
          text-align: center;
          .main-sections-links--button {
            float: none;
            display: inline-block;
            width: 40%;
          }
        }
        app-subscribe-social-buttons {
          display: block;
          float: none;
          width: 100%;
          text-align: center;
          border-top: 1px solid @COLOR-LIGHT-GRAY;
          padding: 15px 0 0;
        }
      }
    }
  }

}
