<div class="menu-outer"
     [ngClass]="{'collapsed':collapsed, 'expanded':!collapsed,'fixed':fixed}">
  <div class="menu"
       [ngClass]="{'collapsed':collapsed, 'expanded':!collapsed,'fixed':fixed}">

    <div class="menu_row_1">

      <span class="menu_icon"
            *ngIf="allow_toggle"
            (click)="toggleMenu()">
      </span>

      <app-menu-search-form class="tablet"></app-menu-search-form>

      <app-home-link></app-home-link>

      <app-main-section-links class="desktop"></app-main-section-links>

    </div>

    <div class="menu_row_2">

      <app-rubric-menu (onRubricChanged)="closeMenu()"></app-rubric-menu>
      <app-hot-links class="tablet"></app-hot-links>

    </div>

    <div class="menu_row_3">
      <app-main-section-links class="desktop"></app-main-section-links>
      <app-hot-links></app-hot-links>
      <app-adult-only></app-adult-only>
      <app-menu-search-form></app-menu-search-form>
      <app-subscribe-push></app-subscribe-push>
      <app-subscribe-social-buttons [title]="''"></app-subscribe-social-buttons>
    </div>

  </div>
</div>
<div class="menu_shadow" *ngIf="allow_toggle" (click)="toggleMenu()"></div>
