@import "../../../assets/styles/defaults";

:host .subscribe_line {
  line-height: 50px;
  text-align: center;
}

@media all and (max-width: (@SCREEN-BIG-SIZE - 1)) {
  :host {
    display: block;
    margin-top: -30px;
  }
}

.home_link {
  display: inline-block;
  width: 43px;
  height: 35px;
  background: url(/assets/images/moments_logo_square.png) center center no-repeat;
  background-size: contain;
  float: left;
  margin: 5px 30px 0 0;
  text-indent: -9000px;
  font-size: 0px;
  vertical-align: middle;
  @media all and (max-width: (@SCREEN-BIG-SIZE - 1)) {
    display: none;
  }
}
.subscribe_line {
  text-align: center;
}

:host ::ng-deep app-subscribe-social-buttons {
  float: right;
  margin: 0 0 0 30px;
  @media all and (min-width: @SCREEN-SMALL-SIZE) and (max-width: (@SCREEN-BIG-SIZE - 1)) {
    width: ((@WIDTH-SMALL--SIZE-CONTENT - @index-base-block-margin) / 2);
    text-align: center;
  }
}
:host ::ng-deep app-subscribe-email {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
  float: none;
  vertical-align: middle;
  @media all and (min-width: @SCREEN-SMALL-SIZE) and (max-width: (@SCREEN-BIG-SIZE - 1)) {
    width: ((@WIDTH-SMALL--SIZE-CONTENT - @index-base-block-margin) / 2);
    text-align: center;
  }
}
