<div class="subscribe_line">

  <a [routerLink]="['/']"
     class="home_link">На главную</a>

  <app-subscribe-social-buttons [title]="'Соцсети'"></app-subscribe-social-buttons>

  <app-subscribe-email [title]="'Еженедельная рассылка'"></app-subscribe-email>

</div>
