@import "../../../assets/styles/defaults";

.controls {
  display: block;
  overflow: hidden;
  clear: both;
  text-align: center;
}

@keyframes small_rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes full_rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.more_button {
  display: block;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  background: url('/assets/images/more-button-circle-arrow.svg') center center no-repeat;
  background-size: contain;
  line-height: 70px;
  color: @COLOR-BLUE-GREEN;
  font-size: 13px;
  border: none;
  outline-style: none;
  box-shadow: none;
  border-radius: 0;
  cursor: pointer;
}
.more_button:hover {
  -webkit-animation: small_rotate 0.6s ease;
  animation: small_rotate 0.6s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.more_button.loading,
.more_button.loading:hover {
  -webkit-animation: full_rotate 0.6s ease;
  animation: full_rotate 0.6s ease;
}
