<ul class="list">
  <li *ngFor="let publication of object_list"
      class="item">
    <app-publication-announce [publication]="publication"
                              [show_categories]="true"></app-publication-announce>
  </li>
</ul>
<button (click)="nextPage();"
        [style.display]="end || !can_load_next ? 'none' : 'block'">Еще</button>
