@import "../../../assets/styles/defaults";

.publication_list {
  &, &-item {
    display: block;
    overflow: hidden;
  }

  padding: 0 0 50px;
  margin: 0 0 55px;
  border-bottom: 3px solid @COLOR-LIGHT-GRAY;
}
