<div class="publication_list"
     infiniteScroll
     (scrolled)="getNextPublication()">
  <ng-container *ngFor="let publication of publications">

    <app-publication-detail
      [other_publications_count]="false"
      [current_publication]="publication"
      [show_share_buttons]="false"
    ></app-publication-detail>
  </ng-container>
</div>
<app-publication-popular-list
  *ngIf="publications.length >= loading_limit"
  [exclude_ids]="showed_publication_ids()"
></app-publication-popular-list>
