<ng-container *ngIf="!price_min && !price_max">
  бесплатно
</ng-container>
<ng-container *ngIf="price_min && price_max && price_min === price_max">
  {{ price_max }}{{ currency }}
</ng-container>
<ng-container *ngIf="price_min && price_max && price_min !== price_max">
  от&nbsp;{{ price_min }}{{ currency }} до&nbsp;{{ price_max }}{{ currency }}
</ng-container>
<ng-container *ngIf="price_min && !price_max">
  от&nbsp;{{ price_min }}{{ currency }}
</ng-container>
<ng-container *ngIf="!price_min && price_max">
  до&nbsp;{{ price_max }}{{ currency }}
</ng-container>
