<div class="main-sections-links">
  <a href="/places" class="main-sections-links--button places_button">Места</a>
  <a [routerLink]="['/events']"
     class="main-sections-links--button events_button">Афиша</a>
</div>
