@import "../../../assets/styles/defaults";

.main-sections-links--button {
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  float: right;
  text-decoration: none !important;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  .important_text(21px);
  margin: 0 0 0 25px;
  border: none;
  padding: 0;
  line-height: normal;
  border-radius: 0;
  &:before {
    content: ' ';
    display: inline-block;
    width: 20px;
    height: 19px;
    margin: 0px 5px 3px 0;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
  }
  &.places_button {
    color: @COLOR-ORANGE;
    &:before {
      height: 25px;
      background-image: url(./assets/places.svg);
      :host-context(.footer) & {
        background-image: url(./assets/places-white.svg);
      }
    }
  }
  &.events_button {
    color: @COLOR-BLUE-GREEN;
    &:before {
      height: 20px;
      background-image: url(./assets/events.svg);
      :host-context(.footer) & {
        background-image: url(./assets/events-white.svg);
      }
    }
  }

  :host-context(.main_block_row.promo-line-1) & {
    clear: none;
    margin: 0 0 0 15px;
  }

}

:host-context(.footer) {
  .main-sections-links--button {
    width: 230px;
    border: 1px solid;
    .important_text(25px, inherit);
    line-height: 88px;
    padding: 0;
    text-align: center;
    margin: 0 0 20px;
    border-radius: 45px;

    @media all and (min-width: (@SCREEN-SMALL-SIZE)) and (max-width: (@SCREEN-BIG-SIZE - 1)) {
      .important_text(17px, inherit);
      width: 165px;
      margin: 0 0 0 20px;
      line-height: 48px;
      border-radius: 25px;
      float: left;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
