<ng-container ngPreserveWhitespaces>
  <span class="date date-calendar" *ngIf="show_date">{{ toCalendar() }}</span><ng-container *ngIf="show_time">,</ng-container>
  <app-time [date]="date" [show_date]="false" *ngIf="show_time"></app-time>
</ng-container>
