@import "../../../../assets/styles/defaults";

:host {
  display: block;
  overflow: hidden;
  clear: both;
}

.photo-galery {
  display: block;
  overflow: hidden;
  .photo-link {
    display: block;
    overflow: hidden;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    &:after {
      background: rgba(0,0,0,0.7) url(/assets/images/icons/zoom.svg) center center no-repeat;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      .caption_text(24px, @COLOR-WHITE, normal);
      font-weight: bold;
    }
    &:hover {
      &:after {
        display: block;
        content: ' ';
      }
    }
  }
  .photo {
    display: block;
    overflow: hidden;
    width: 100%;
    height: auto;
    opacity: 0;
  }
  &&-2 {
    .photo-link {
      width: 49.5%;
      height: 375px;
      @media all and (max-width: @SCREEN-SMALL-SIZE) {
        height: 175px;
      }
      margin-right: 1%;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &&-3 {
    .photo-link {
      width: 49.5%;
      height: 220px;
      @media all and (max-width: @SCREEN-SMALL-SIZE) {
        height: 75px;
      }
      margin-right: 1%;
      &.photo-link-0 {
        width: 100%;
        margin-bottom: 1%;
        margin-right: 0;
        height: 370px;
        @media all and (max-width: @SCREEN-SMALL-SIZE) {
          height: 150px;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &&-4 {
    .photo-link {
      width: ((100% - 2%) / 3);
      height: 220px;
      @media all and (max-width: @SCREEN-SMALL-SIZE) {
        height: 65px;
      }
      margin-right: 1%;
      &.photo-link-0 {
        width: 100%;
        margin-bottom: 1%;
        height: 370px;
        @media all and (max-width: @SCREEN-SMALL-SIZE) {
          height: 150px;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &&-4&-4-plus {
    .photo-link.photo-link-3:hover:after,
    .photo-link.photo-link-3:after {
      content: attr(data-more-text);
      padding: 100%;
      text-align: center;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-image: none;
      width: 75px;
      height: 60px;
      @media all and (max-width: @SCREEN-SMALL-SIZE) {
        font-size: 16px;
        height: 45px;
      }
    }
  }
}

.current-photo {
  display: block;
  overflow: visible;
  position: fixed;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0 100px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */

  .image {
    display: block;
    overflow: hidden;
    float: left;
    position: absolute;
    left: 100px;
    right: 100px;
    top: 100px;
    bottom: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    @media all and (max-width: (@SCREEN-BIG-SIZE - 1)) {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
  .image-wrapper {
    display: block;
    overflow: hidden;
    opacity: 0;
    z-index: 1;
  }

}

.current-photo-navigator-handle {
  opacity: .3;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}

.current-photo-navigator-prev,
.current-photo-navigator-next {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 2;
  &:before {
    content: ' ';
    width: 15px;
    height: 30px;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.current-photo-navigator-prev {
  left: 0;
  right: 50%;
  &:before {
    left: 45px;
    background-image: url("/assets/images/icons/arrow-left.svg");
  }
}
.current-photo-navigator-next {
  right: 0;
  left: 50%;
  &:before {
    right: 45px;
    background-image: url("/assets/images/icons/arrow-right.svg");
  }
}
.current-photo-navigator-close {
  position: fixed;
  z-index: 3;
  width: 100px;
  height: 100px;
  top: 0;
  right: 0;
  background: url("/assets/images/icons/close.svg") center center no-repeat;
  @media all and (max-width: (@SCREEN-BIG-SIZE - 1)) {
    width: 54px;
    height: 54px;
    background-size: 13.5px 13.5px;
    opacity: 1;
    right: auto;
    left: 0;
  }
}

.current-photo-image-footer {
  color: @COLOR-WHITE;
  position: fixed;
  bottom: 30px;
  left: 100px;
  right: 100px;
  text-align: center;
  @media all and (max-width: (@SCREEN-BIG-SIZE - 1)) {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 20px 10px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    text-align: left;
  }
  .current-photo-image-counter {
    display: inline-block;
    .caption_text(16px, @COLOR-WHITE, normal);
    margin-right: 15px;
    font-weight: bold;
    @media all and (max-width: (@SCREEN-BIG-SIZE - 1)) {
      position: fixed;
      top: 0;
      width: 100%;
      padding: 20px;
      text-align: center;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
      left: 0;
      box-sizing: border-box;
    }
  }
  ::ng-deep app-image-caption {
    display: inline-block;
    .caption {
      display: inline-block;
      padding: 0;
      line-height: 14px;
    }
    .title, .author {
      display: inline-block !important;
      .caption_text(14px, @COLOR-WHITE, normal);
      line-height: 14px;
      @media all and (max-width: (@SCREEN-BIG-SIZE - 1)) {
        display: block !important;
      }
    }
    .author {
      opacity: .5;
    }
  }
}
