<div
  class="photo-galery photo-galery-{{ part.images.length > 4 ? '4' : part.images.length }}"
  [ngClass]="{
    'photo-galery-4-plus': part.images.length > 4
  }">
  <ng-container *ngFor="let image of part.images.slice(0, 4); let photo_i = index;">
    <a href="{{ image.url }}"
       target="_blank"
       (click)="showPopUp(photo_i); $event.preventDefault();"
       [style.backgroundImage]="'url(' + image.url + ')'"
       [attr.data-more-text]="'Еще ' + (part.images.length - photo_i) + '&nbsp;фото'"
       class="photo-link photo-link-{{ photo_i }}">
      <img src="{{ image.url }}"
           class="photo photo-{{ photo_i }}" />
    </a>
  </ng-container>
</div>

<div
  class="current-photo"
  style="clear: both"
  *ngIf="current_image_number !== null">

  <div class="current-photo-navigator">
    <div class="current-photo-navigator-prev current-photo-navigator-handle"
         title="Предыдущее фото"
         (click)="prevPopUp($event)"
    ></div>
    <div class="current-photo-navigator-next current-photo-navigator-handle"
         title="Следующее фото"
         (click)="nextPopUp($event)"
    ></div>
    <div class="current-photo-navigator-close current-photo-navigator-handle"
         (click)="hidePopUp($event)"></div>
  </div>

  <div class="current-photo-image-container">
    <div class="image"
         [style.backgroundImage]="'url('+part.images[current_image_number].url+')'">
    </div>
    <img [src]="part.images[current_image_number].url"
         [title]="part.images[current_image_number].title"
         class="image-wrapper" />
    <div class="current-photo-image-footer">
      <div class="current-photo-image-counter">{{ current_image_number + 1 }}/{{ part.images.length }}</div>
      <app-image-caption
        [title]="part.images[current_image_number].title"
        [author]="part.images[current_image_number].author"
      ></app-image-caption>
    </div>
  </div>

</div>
