<ul class="menu">
  <li class="menu-item">
    <a [routerLink]="['/']"
       class="rubric"
       (click)="changeRubric()">
      Новое
    </a>
  </li>
  <li *ngFor="let rubric of rubrics" class="menu-item">
    <a [routerLink]="['/', rubric.slug]"
       class="rubric"
       (click)="changeRubric()"
       routerLinkActive="current_rubric">
      {{ rubric.title }}
    </a>
  </li>
  <app-hot-links *ngIf="show_hot_links"></app-hot-links>
</ul>
