@import "../../../assets/styles/defaults";

:host-context(.header) {
  .menu {
    display: inline-block;
    overflow: hidden;
    height: 22px;
    text-align: center;
    @media all and (max-width: (@WIDTH-BIG--SIZE-CONTENT - 1)) {
      width: 100%;
      height: auto;
    }
    &:before {
      content: '';
      display: block;
      width: 100%;
    }
    &:after {
      display: inline-block;
      content: '';
      width: 100%;
    }
    @media all and (max-width: (@WIDTH-BIG--SIZE-CONTENT - 1)) {
      &:before,
      &:after {
        display: none;
      }
    }
  }
  .menu-item {
    display: inline;
    position: relative;
    margin: 0 20px;
    @media all and (max-width: (@WIDTH-BIG--SIZE-CONTENT - 1)) {
      margin: 0 0 10px;
    }
    @media all and (min-width: @WIDTH-SMALL--SIZE-CONTENT) and (max-width: (@WIDTH-BIG--SIZE-CONTENT - 1)) {
      float: left;
      width: 33%;
    }
    @media all and (max-width: (@WIDTH-SMALL--SIZE-CONTENT - 1)) {
      display: block;
      overflow: hidden;
      margin: 0 20px;
      padding: 20px 0 7px;
      border-bottom: 1px solid @COLOR-LIGHT-GRAY;
    }
  }
  .rubric,
  .rubric:hover,
  .rubric:active,
  .rubric:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    .caption_text(16px, @COLOR-BLACK, normal);
    line-height: 15px;
    height: 17px;
    overflow: hidden;
    letter-spacing: .5px;
    margin: 0;
    padding: 0 0 2px;
    border-bottom: 1px solid @COLOR-WHITE;
    vertical-align: top;
    &.current_rubric {
      border-bottom: 1px solid @COLOR-BLACK;
    }
  }
}

:host-context(.footer) {
  .menu {
    display: block;
    overflow: hidden;
    line-height: 25px;
    text-align: justify;
    padding: 35px 0;
    border-bottom: 1px solid @COLOR-LIGHT-GRAY;
    &:before {
      content: '';
      display: block;
      width: 100%;
    }
    &:after {
      display: inline-block;
      content: '';
      width: 100%;
    }
  }
  .menu-item {
    display: inline;
    position: relative;
  }
  .rubric,
  .rubric:hover,
  .rubric:active,
  .rubric:visited {
    display: inline-block;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
    .important_text(16px, inherit);
    line-height: 15px;
    height: 17px;
    overflow: hidden;
    letter-spacing: .5px;
    margin: 0;
  }
  .current_rubric {
    text-decoration: underline;
  }
}

:host-context(.footer) {
  .menu {
    display: block;
    overflow: hidden;
    padding: 0 0 0 30px;
    border: none;
  }
  .menu-item {
    display: block;
    float: none;
    .rubric {
      display: inline-block;
      overflow: hidden;
      margin: 0 0 11px;
    }
  }
}

:host ::ng-deep app-hot-links {
  display: inline-block;
  overflow: visible;
}
