@import "../../../assets/styles/defaults";

:host {
  text-align: center;
}

:host ::ng-deep app-publication-related-list {
  display: block;
  overflow: hidden;
  width: 245px;
  margin: 0 auto;
  text-align: center;
}

:host(.with-right-banner) app-publication-related-list {
  margin-top: 60px;
}
