@import "../../../assets/styles/defaults";

.tags {
  display: block;
  overflow: hidden;
}
.tags-item {
  display: block;
  overflow: hidden;
}
.link,
.link:hover,
.link:active,
.link:visited {
  display: block;
  overflow: hidden;
  text-decoration: none;
  .addition_text(12px, @COLOR-BLACK);
  height: 24px;
  line-height: 24px;
}
.link:hover,
.link:active {
  text-decoration: underline;
}
