<ul class="tags">
  <li *ngFor="let tag of tags" class="tags-item">
    <a [routerLink]="['/publications', rubric.slug]" [queryParams]="{tag: tag.title}"
       class="link">
      {{ tag.title }}
    </a>
  </li>
</ul>
