@import "../../../assets/styles/defaults";

.item {
  float: left;
  width: (@index-base-block-size * 4 + @index-base-block-margin * 3);
  margin: 0 @index-base-block-margin 0 0;
  &:last-child {
    margin-right: 0;
  }
  @media all and (max-width: (@SCREEN-SMALL-SIZE - 1)) {
    width: 100%;
  }
}
//:host {
//  @image-size: 90px;
//  @image-margin: 22px;
//}
//.item,
//.container {
//  display: block;
//  overflow: hidden;
//  position: relative;
//  box-sizing: border-box;
//}
//.item {
//  width: 50%;
//  padding: 0 35px;
//  border-right: 1px solid @COLOR-LIGHT-GRAY;
//  float: left;
//}
//.item:first-child {
//  padding-left: 0;
//}
//.item:last-child {
//  border-right: none;
//}
//
//
//:host ::ng-deep app-publication-announce .publication {
//  height: @under-navigator-image-size;
//  position: relative;
//}
//:host ::ng-deep app-publication-announce .title,
//:host ::ng-deep app-publication-announce .rubric {
//  text-align: left;
//}
//:host ::ng-deep app-publication-announce .announce_image {
//  width: @under-navigator-image-size;
//  height: @under-navigator-image-size;
//}
//:host ::ng-deep app-publication-announce .title {
//  position: absolute;
//  left: (@under-navigator-image-size + @under-navigator-image-margin);
//  top: 22px;
//  line-height: 1.5em;
//  font-size: 16px;
//  letter-spacing: .5px;
//  //font-weight: bold;
//}
//:host ::ng-deep app-publication-announce .rubric {
//  position: absolute;
//  left: (@under-navigator-image-size + @under-navigator-image-margin);
//  top: 0;
//  line-height: normal;
//  height: auto;
//}
