<div class="container container-{{ type }}"
     *ngIf="publications.length > 0">

  <ul class="list"
      *ngIf="publications.length > 1 && !carousel">
    <li class="item"
        *ngFor="let publication of publications; let i = index;">
      <app-publication-announce [publication]="publication"></app-publication-announce>
    </li>
  </ul>

  <app-publication-announce
    *ngIf="publications.length == 1"
    [publication]="publications[0]"></app-publication-announce>
  <div class="block-title" *ngIf="title">{{ title }}</div>

</div>
