/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption|PT+Sans:400,400i|PT+Serif:400,400i,700,700i|Playfair+Display:400,700,700i&subset=cyrillic,cyrillic-ext,latin-ext');
@import "./assets/styles/reset";

body {
  text-align: center;
}
//.background-image {
//  display: block;
//  overflow: hidden;
//  margin: 0 auto;
//  width: 100%;
//  height: auto;
//  max-width: 1344px;
//  background: url('/assets/images/mundial-background.png') center top no-repeat;
//  background-size: contain;
//}
