@import "../../../../assets/styles/defaults";

:host {
  display: block;
  overflow: visible;
  position: relative;
  clear: both;
  padding: 33px 33px 25px;
  .regular_text(20px, @COLOR-BLACK);
  font-style: italic;
  background: @COLOR-LIGHT-BLUE-GREEN;
  &:before {
    content: '“';
    .important_text(100px, @COLOR-DARK-BLUE-GREEN);
    line-height: 60px;
    height: 60px;
    position: absolute;
    top: -10px;
    font-style: normal;
    font-weight: normal;
  }
}
.author {
  .regular_text(13px, @COLOR-BLUE-GREEN);
}
