@COLOR-GRAY: #aaa;
@COLOR-BLACK: #000;
@COLOR-WHITE: #fff;
@COLOR-LIGHT-GRAY: #eee;
@COLOR-DARK-GRAY: #333;

@COLOR-BLUE-GREEN: #0b9dbc;
@COLOR-LIGHT-BLUE-GREEN: #d0ecf2;
@COLOR-ULTRA-LIGHT-BLUE-GREEN: #f1fcff;
@COLOR-DARK-BLUE-GREEN: #0599bc;
@COLOR-LIGHT-GREEN: #ECFFF7;

@COLOR-ORANGE: #ff7500;
@COLOR-RED: #f34f57;

@COLOR-REGULAR-TEXT: @COLOR-BLACK;
@COLOR-LINK: @COLOR-DARK-BLUE-GREEN;
@COLOR-QUEUE-BACKGROUND: @COLOR-ULTRA-LIGHT-BLUE-GREEN;

@SCREEN-BIG-SIZE: 1120px;
@SCREEN-SMALL-SIZE: 640px;

@IMPORTANT-TEXT-FONT: 'Playfair Display', serif;
.important_text(@size: 50px, @color: @COLOR-BLACK){
  font-family: @IMPORTANT-TEXT-FONT;
  font-weight: bold;
  font-size: @size;
  line-height: 1.26;
  color: @color;
}

@CAPTION-TEXT-FONT: 'PT Sans', sans-serif;
.caption_text(@size: 15px, @color: @COLOR-GRAY, @font_style: italic) {
  font-family: @CAPTION-TEXT-FONT;
  font-style: @font_style;
  color: @color;
  font-size: @size;
  line-height: 1.25;
}

@SECTIONS-TEXT-FONT: 'PT Sans Caption', sans-serif;
.section_text(@size: 12px, @color: @COLOR-GRAY) {
  font-family: @SECTIONS-TEXT-FONT;
  color: @color;
  font-size: @size;
  line-height: 2.9;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.addition_text(@size: 12px, @color: @COLOR-BLACK) {
  font-family: @SECTIONS-TEXT-FONT;
  color: @color;
  font-size: @size;
  line-height: 1.4;
}
.fields_text(@size: 13px, @color: inherit) {
  .addition_text(@size: @size, @color: @color);
}

@REGULAR-TEXT-FONT: 'PT Serif';
.regular_text(@size: 20px, @color: @COLOR-REGULAR-TEXT) {
  font-family: @REGULAR-TEXT-FONT;
  line-height: 30px;
  font-size: @size;
  color: @color;
}

@WIDTH-BIG--SIZE-CONTENT: 1250px;
@WIDTH-SMALL--SIZE-CONTENT: 600px;

@index-base-block-margin: 40px;
@index-base-block-size: ((@WIDTH-BIG--SIZE-CONTENT - 7 * (@index-base-block-margin)) / 8);

@index-promo-line-height-tight: 70px;

@important-block-image-size: 145px;
@important-block-margin: 30px;
@important-block-width: 585px;
@important-block-height: 170px;

@under-navigator-image-size: 90px;
@under-navigator-image-margin: 22px;

@MENU-HEIGHT: 730px;
@MENU-WIDTH--LEFT-COL: 240px;
@MENU-WIDTH--RIGHT-COL: 290px;
@MENU-WIDTH--LEFT-COL-MARGIN: 80px;
@MENU-MAIN-BLOCK-HEIGHT: 590px;
@MENU-FOOTER-HEIGHT: 145px;
