@import "./defaults";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}





body {
  .regular_text();
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

h1 {
  .regular_text(22px);
  letter-spacing: 22px;
  text-align: center;
  text-transform: uppercase;
}
h2 {
  .regular_text(21px);
  text-transform: uppercase;
  margin: 0 0 35px;
}
p {
  margin-bottom: 1em;
}

i, em {
  font-style: italic;
}
b, strong {
  font-weight: 700;
}
i b, i strong,
strong i, b i {
  font-style: italic;
  font-weight: 700;
}

a {
  &,
  &:hover,
  &:visited,
  &:active {
    color: @COLOR-BLUE-GREEN;
    text-decoration: none;
    border-bottom: 1px solid fade(@COLOR-BLUE-GREEN, 40%);
  }
  &:hover {
    border-bottom: 1px solid @COLOR-BLUE-GREEN;
  }
}

input[type=text],
input[type=email],
input[type=number],
input[type=password] {
  display: block;
  overflow: hidden;
  padding: 16px 24px;
  border: none;
  border-radius: 5px;
  .fields_text(inherit);
  line-height: 20px;
  box-sizing: border-box;
  border-color: @COLOR-LIGHT-GRAY;
  outline-style: none;
}

.rubric,
.rubric:hover,
.rubric:visited,
.rubric:active {
  display: inline-block;
  overflow: hidden;
  .section_text();
  height: 32px;
  margin: 0 0 7px;
  white-space: nowrap;
  text-decoration: none;
}
