<div class="copyright">
  <p class="all_right_reserved">© {{ current_date | date : 'yyyy' }}<br/>
    ВСЕ ПРАВА ЗАЩИЩЕНЫ</p>
  <p class="not_for_child">Сайт может содержать контент, не предназначенный для лиц младше 18 лет.  Публикация материалов возможна только с согласия редакции.</p>
</div>
