@import "../../../assets/styles/defaults";

.logo {
  display: block;
  overflow: hidden;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -9000px;
}

:host(.old-new-menu) {
  display: block;
  overflow: hidden;
  width: 250px;
  height: 55px;
  @media all and (max-width: (@WIDTH-BIG--SIZE-CONTENT - 1)) {
    width: 135px;
    height: 30px;
  }
  .logo {
    display: block;
    overflow: hidden;
    width: 250px;
    height: 55px;
    background-image: url("/assets/images/logo_250x55.svg");
    @media all and (max-width: (@WIDTH-BIG--SIZE-CONTENT - 1)) {
      width: 135px;
      height: 30px;
    }
  }
}

:host-context(app-site-menu) {
  .logo {
    width: 345px;
    height: 26px;
    background-image: url("/assets/images/moments_hor_color.svg");
  }

  @media all and (max-width: @SCREEN-SMALL-SIZE) {
    .logo {
      width: 105px;
      height: 40px;
      background-image: url(/assets/images/moments_logo_color.svg);
    }
  }
}
:host-context(.footer) {
  .logo {
    width: 345px;
    height: 26px;
    background-image: url(/assets/images/moments_logo_white.svg);
  }

  @media all and (max-width: @SCREEN-SMALL-SIZE) {
    .logo {
      width: 105px;
      height: 40px;
      background-image: url(/assets/images/moments_logo_white.svg);
    }
  }
}
