<div class="container"
     ngClass="{'carousel': carousel}"
     *ngIf="publications.length > 0">
  <ngu-carousel class="list"
                *ngIf="publications.length > 1"
                [inputs]="carousel_config">
    <ngu-item NguCarouselItem class="item"
              *ngFor="let publication of publications; let i = index;">
      <app-publication-announce [publication]="publication"></app-publication-announce>
      <span class="counter"
            *ngIf="publications.length > 1">
        <span class="current_number">{{ i+1 }}</span>/<span class="total_number">{{ publications.length }}</span>
      </span>
    </ngu-item>
    <button NguCarouselPrev class='leftRs'>⟵</button>
    <button NguCarouselNext class='rightRs'>⟶</button>
  </ngu-carousel>
</div>
