@import "../../../assets/styles/defaults";

:host ::ng-deep app-publication-announce .publication {
  min-height: 230px;
  position: relative;
  box-sizing: content-box;
  padding: 80px 0;
}
:host ::ng-deep app-publication-announce .announce_image {
  display: block;
  width: 400px;
  height: 390px;
  float: right;
  position: absolute;
  right: 0;
  top: 0;
}
:host ::ng-deep app-publication-announce .publication-circle {
  text-align: left;
}
:host ::ng-deep app-publication-announce .title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 1.2px;
  padding: 32px 460px 32px 0;
  left: 0;
}

.counter {
  position: absolute;
  bottom: 60px;
}

:host(.main_block_row-inner) {
  width: ~'calc(' @WIDTH-BIG--SIZE-CONTENT ~' + 55px * 2)';
}
:host:before {
  display: block;
  overflow: hidden;
  content: ' ';
  background: @COLOR-LIGHT-GREEN;
  position: absolute;
  left: -60px;
  right: -60px;
  top: 55px;
  bottom: 55px;
}
:host {
  display: block;
  overflow: visible;
  padding: 0 180px;
}
