@import "../../../../assets/styles/defaults";

.image-block {
  display: block;
  overflow: hidden;
  clear: both;
  width: 400px;
  &-left {
    float: left;
    margin: 0 30px 30px 0;
  }
  &-right {
    float: right;
    margin: 0 0 30px 30px;
  }
  @media all and (max-width: (@SCREEN-SMALL-SIZE - 1)) {
    width: 100%;
  }
}

.image {
  display: block;
  overflow: hidden;
  width: 100%;
  height: auto;
}
.author {
  display: block;
}
