<form class="search_form"
      (ngSubmit)="onSubmit($event)">
  <input
    type="text"
    class="input"
    placeholder="Поиск"
    [value]="query"
    [formControl]="searchField" />
  <button
    type="submit"
    class="submit"></button>
  <button
    type="reset"
    class="reset"></button>
</form>
