@import "../../../assets/styles/defaults";

.search_form {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 45px;
  border: 1px solid @COLOR-LIGHT-GRAY;
  padding: 0 0 0 15px;
  box-sizing: border-box;
}

.submit, .reset {
  &,&:hover,&:active,&:focus {
    display: block;
    overflow: hidden;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 20px;
    height: 43px;
    float: left;
    margin-right: 15px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    outline-style: none;
  }
}
.submit {
  background-image: url("../assets/find-goto.svg");
}
.reset {
  background-image: url("/assets/images/icons/search-close.svg");
}
.input {
  line-height: 43px;
  display: block;
  overflow: hidden;
  height: 43px;
  width: 100%;
  padding: 0 75px 0 0;
  margin: 0 -75px 0 0;
  float: left;
  &,&:hover,&:active,&:focus {
    outline-style: none;
    border: none;
    box-shadow: none;
  }
}
