<img src="{{ event.announce_image.url }}" class="image" />
<div class="description">
  <h2 class="title" [innerHtml]="event.title"></h2>
  <div class="addition_data" *ngIf="event.age_limit || event.type">
    <div class="age_limit" *ngIf="event.age_limit">{{ event.age_limit }}+</div>
    <div class="type" *ngIf="event.type" [innerHtml]="event.type.title"></div>
  </div>
  <div class="meta">
    <span class="time">
      <app-date-calendar
        [date]="event.date_start"
        [use_yesterday]="false"
        [show_time]="true"
        [date_format]="'D MMMM'"></app-date-calendar>
       —
      <app-date-calendar
        [date]="event.date_end"
        [use_yesterday]="false"
        [show_time]="true"
        [show_date]="event.date_start.getDay() !== event.date_end.getDay()"
        [date_format]="'D MMMM'"></app-date-calendar>
    </span>
    <ng-container *ngIf="event.places">
      <span class="place" *ngFor="let place of event.places">
        <a href="#" class="place_title place_link" [innerHtml]="place.title"></a>
        <span class="place_address" [innerHtml]="place.address"></span>
      </span>
    </ng-container>
    <ng-container *ngIf="!event.places && event.address">
      <span class="place">
        <span class="place_address" [innerHtml]="event.address"></span>
      </span>
    </ng-container>
  </div>
</div>
