@import "../../../assets/styles/defaults";

:host {
  display: block;
  overflow: hidden;
}

:host(.event-list-item) {
  border: 1px solid @COLOR-LIGHT-GRAY;
  margin: 0 0 30px;
}

.image {
  display: block;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.description {
  display: block;
  overflow: hidden;
  padding: 15px 20px;
}

.title {
  .important_text(20px);
  line-height: 23px;
  text-align: left;
  text-transform: none;
  margin: 0 0 15px;
  :host:hover & {
    color: @COLOR-BLUE-GREEN;
  }
}

.addition_data {
  display: block;
  overflow: hidden;
  .type {
    display: block;
    white-space: nowrap;
    .addition_text(11px, @COLOR-GRAY);
    text-transform: uppercase;
    letter-spacing: 0.7px;
    float: left;
  }
  .age_limit {
    display: block;
    .important_text(15px);
    float: right;
  }
}

.meta {
  .section_text(12px);
  text-transform: none;
  line-height: normal;
  display: block;
  overflow: hidden;
  padding: 5px 0 0;
  .time, .place {
    display: block;
    overflow: hidden;
    margin: 0 0 5px;
    text-align: left;
    letter-spacing: -0.1px;
    &:before {
      content: ' ';
      display: inline-block;
      width: 12px;
      height: 13px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right bottom;
      margin: 0 7px 0 0;
    }
  }
  .time {
    white-space: nowrap;
    &:before {
      background-image: url("../assets/small-icon--calendar.svg");
    }
  }
  .place {
    &:before {
      background-image: url("../assets/small-icon--place.svg");
    }
    .place_link {
      &, &:hover, &:active, &:visited {
        color: inherit;
      }
    }
  }
}
